<a href="https://colab.research.google.com/github/emisoft-designs/SEEFAR-SUSTAIN/blob/academy-data-extraction/SEEFAR_SUSTAIN_(Academy_DB_Extraction).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Colab Notebook – Data Extraction from SEEFAR Academy Database**

**Primary Goal:**

To establish a robust foundation for data analysis and automated reporting for Seefar Academy by extracting and documenting relevant SQL database tables, and recommending suitable systems for tracking key performance indicators and differentiating user groups.

**Objectives:**
1. Extract Relevant Database Tables: Extract all non-empty tables from the pathways_moodle database into individual Pandas DataFrames.

2. Centralize Data in Google Sheets: Upload the extracted relevant tables (DataFrames) as separate worksheets to a newly created Google Spreadsheet, providing an accessible link.

3. Document Data Schema: Provide a detailed schema (column names and data types) for each extracted table. [*Map and document the different columns/fields available in the dataset*]

4. Recommend Automated Reporting Solutions: Research and propose systems capable of automating reports focused on "knowledge increase indicators" and distinguishing data trends among "employers, visa facilitators, and the two different candidate groups."

**My Plan:**

* `Extract Non-Empty Table Names`: Extract the names of all non-empty tables from the 'df_non_empty_pathways_moodle' DataFrame into a list for further processing.
* `Extract Data to DataFrames`: Iterate through the list of non-empty table names, query each table from the 'pathways_moodle' database, and load its entire content into individual Pandas DataFrames.
* `Prepare Google Sheet for Upload`: Authenticate with Google Colab and gspread, then create a new Google Spreadsheet. Clear any existing sheets to ensure a clean upload environment for the extracted data.
* `Upload Data to Google Sheets`: For each extracted DataFrame, create a new worksheet in the Google Spreadsheet and upload the DataFrame's content to it. Include appropriate error handling for large tables that might exceed Google Sheets limits.
* `Document Schema`: Extract and document the schema (column names and data types) for each table successfully uploaded to Google Sheets. Present this documentation in a clear, readable format.
* `Analyze and Recommend Reporting Systems`: Based on the project objectives related to 'knowledge increase indicators' and differentiating data trends between 'employers, visa facilitators, and two different candidate groups', research and provide recommendations for suitable automated reporting systems.
* `Finally`: Provide a summary of the extracted data, the documented schema, and the recommendations for automated reporting systems, along with links to the Google Sheet and Colab notebook.

In [ ]:
!pip install pymysql sqlalchemy gspread gspread-dataframe

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.46)
Requirement already satisfied: gspread in /usr/local/lib/python3.12/dist-packages (6.2.1)
Requirement already satisfied: gspread-dataframe in /usr/local/lib/python3.12/dist-packages (4.0.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from gspread) (2.47.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.12/dist-packages (from gspread) (1.2.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.12/dist-packages (from gspread-dataframe) (2.2.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.12/dist-packages (from gspread-dataframe) (1.17.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from google-auth>=1.12.0->gspread) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.12/dist-packages (from google-auth>=1.12.0->gspread) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.12/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=0.24.0->gspread-dataframe) (2025.3)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.12/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.6.2)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.12/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3.1)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2026.1.4)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.3/45.3 kB 2.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [ ]:
from google.colab import userdata
from sqlalchemy import create_engine

# RDS Database credentials. This is a MySQL database
DB_USER = "dbuserread"
DB_PASSWORD = userdata.get('db_password')
DB_HOST = "ls-17122ea7e3a528fd292a260b6217b006cb7a0f38.cyhh372xsm2h.ap-southeast-1.rds.amazonaws.com"
DB_PORT = 3306


# Define the connection URL
DATABASE_URL = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}"

# Create the engine
engine = create_engine(DATABASE_URL)

In [ ]:
import pandas as pd

# This is a function is for fetching data from the database
def fetch_data(engine, query: str = "SHOW DATABASES") -> pd.DataFrame:
  """
  Fetches data from the database using the provided query.

  Args:
      engine (sqlalchemy.engine.base.Engine): The database engine to use for querying.
      query (str, optional): The SQL query to execute. Defaults to "SHOW DATABASES".

  Returns:
      pd.DataFrame: A Pandas DataFrame containing the fetched data.
  """

  try:
      # Connect and run query
      conn = engine.connect()
      print("---> Database Connection Established")
      data = pd.read_sql(query, conn)
      print(f"Feteched data shape -> rows: {data.shape[0]} columns: {data.shape[1]}")
  except Exception as e:
      print(f"Connection failed due to error: {e}")
  finally:
      # Close the connection
      if 'conn' in locals() and conn is not None:
          conn.close()
          print("---> Database connection closed")

  # return fetched data
  return data

In [ ]:
# Let us check the tables in the database
df = fetch_data(engine, "SHOW DATABASES")
table_names = df.iloc[:, 0].tolist()
print(f"Retrieved {len(table_names)} table names from database")
print("List of Table names:")
print(table_names)

---> Database Connection Established
Feteched data shape -> rows: 3 columns: 1
---> Database connection closed
Retrieved 3 table names from database
List of Table names:
['information_schema', 'pathways_moodle', 'performance_schema']

## Explanation
From the database, we can see three databases: `information_schema, pathways_moodle`, and `performance_schema`. The `pathways_moodle` database is likely the one we are interested in.

Let's clarify the purpose of the other two databases for both technical and non-technical personnel:

* `information_schema`: This is like a data dictionary or a 'map of the database'.
  - It provides access to database metadata, including information about tables, columns, data types, access privileges, and other database objects. It's a standard feature in SQL databases for introspection and administration.
  - Think of this as the database's administrative office. It doesn't hold our actual business data, but it keeps records about all the tables, columns, users, and privileges in the entire database system. It tells us what databases exist, what tables are in them, and who can access what.

* `performance_schema`: This is designed for monitoring database performance.
  - It provides a way to examine internal execution details of the server at a low level. It collects statistics on server events (like SQL statements, I/O, locks) and resource consumption, which is invaluable for performance tuning and troubleshooting.
  - Imagine this as the database's diagnostic center. It collects data about how the database is performing – for example, how long queries are taking, what resources are being used, and if there are any bottlenecks. This helps engineers identify and fix performance issues.

Next, We will analyze the information schema to understand the tables according to our objectives and relevant data

In [ ]:
information_schema_df = fetch_data(engine, "SHOW TABLES FROM information_schema")
display(information_schema_df)

---> Database Connection Established
Feteched data shape -> rows: 81 columns: 1
---> Database connection closed

         Tables_in_information_schema
0   ADMINISTRABLE_ROLE_AUTHORIZATIONS
1                    APPLICABLE_ROLES
2                      CHARACTER_SETS
3                   CHECK_CONSTRAINTS
4                          COLLATIONS
..                                ...
76                    USER_ATTRIBUTES
77                    USER_PRIVILEGES
78                              VIEWS
79                 VIEW_ROUTINE_USAGE
80                   VIEW_TABLE_USAGE

[81 rows x 1 columns]

In [ ]:
# Let us see all 81 rows containing names of the tables
display(information_schema_df.iloc[:, 0].tolist())

['ADMINISTRABLE_ROLE_AUTHORIZATIONS',
 'APPLICABLE_ROLES',
 'CHARACTER_SETS',
 'CHECK_CONSTRAINTS',
 'COLLATIONS',
 'COLLATION_CHARACTER_SET_APPLICABILITY',
 'COLUMNS',
 'COLUMNS_EXTENSIONS',
 'COLUMN_PRIVILEGES',
 'COLUMN_STATISTICS',
 'ENABLED_ROLES',
 'ENGINES',
 'EVENTS',
 'FILES',
 'INNODB_BUFFER_PAGE',
 'INNODB_BUFFER_PAGE_LRU',
 'INNODB_BUFFER_POOL_STATS',
 'INNODB_CACHED_INDEXES',
 'INNODB_CMP',
 'INNODB_CMPMEM',
 'INNODB_CMPMEM_RESET',
 'INNODB_CMP_PER_INDEX',
 'INNODB_CMP_PER_INDEX_RESET',
 'INNODB_CMP_RESET',
 'INNODB_COLUMNS',
 'INNODB_DATAFILES',
 'INNODB_FIELDS',
 'INNODB_FOREIGN',
 'INNODB_FOREIGN_COLS',
 'INNODB_FT_BEING_DELETED',
 'INNODB_FT_CONFIG',
 'INNODB_FT_DEFAULT_STOPWORD',
 'INNODB_FT_DELETED',
 'INNODB_FT_INDEX_CACHE',
 'INNODB_FT_INDEX_TABLE',
 'INNODB_INDEXES',
 'INNODB_METRICS',
 'INNODB_SESSION_TEMP_TABLESPACES',
 'INNODB_TABLES',
 'INNODB_TABLESPACES',
 'INNODB_TABLESPACES_BRIEF',
 'INNODB_TABLESTATS',
 'INNODB_TEMP_TABLE_INFO',
 'INNODB_TRX',
 'INNODB_VIRTUAL',
 'KEYWORDS',
 'KEY_COLUMN_USAGE',
 'OPTIMIZER_TRACE',
 'PARAMETERS',
 'PARTITIONS',
 'PLUGINS',
 'PROCESSLIST',
 'PROFILING',
 'RDS_EVENTS_THREADS_WAITS_CURRENT',
 'RDS_PROCESSLIST',
 'REFERENTIAL_CONSTRAINTS',
 'RESOURCE_GROUPS',
 'ROLE_COLUMN_GRANTS',
 'ROLE_ROUTINE_GRANTS',
 'ROLE_TABLE_GRANTS',
 'ROUTINES',
 'SCHEMATA',
 'SCHEMATA_EXTENSIONS',
 'SCHEMA_PRIVILEGES',
 'STATISTICS',
 'ST_GEOMETRY_COLUMNS',
 'ST_SPATIAL_REFERENCE_SYSTEMS',
 'ST_UNITS_OF_MEASURE',
 'TABLES',
 'TABLESPACES',
 'TABLESPACES_EXTENSIONS',
 'TABLES_EXTENSIONS',
 'TABLE_CONSTRAINTS',
 'TABLE_CONSTRAINTS_EXTENSIONS',
 'TABLE_PRIVILEGES',
 'TRIGGERS',
 'USER_ATTRIBUTES',
 'USER_PRIVILEGES',
 'VIEWS',
 'VIEW_ROUTINE_USAGE',
 'VIEW_TABLE_USAGE']

In [ ]:
# Now let us query the information_schema table for specific table (`pathways_moodle`)
# and enquire some certain details like get all the table names, their types and length
# of data in them.
query_info_schema = """
SELECT
  table_name,
  table_type,
  engine,
  table_rows,
  avg_row_length,
  data_length,
  index_length,
  table_comment
FROM
  information_schema.tables
WHERE
  table_schema = 'pathways_moodle'
ORDER BY
  table_name;
"""
df_pathways_moodle_info = fetch_data(engine, query_info_schema)
display(df_pathways_moodle_info)

---> Database Connection Established
Feteched data shape -> rows: 511 columns: 8
---> Database connection closed

,TABLE_NAME,TABLE_TYPE,ENGINE,TABLE_ROWS,AVG_ROW_LENGTH,DATA_LENGTH,INDEX_LENGTH,TABLE_COMMENT
0,mdl_adminpresets,BASE TABLE,InnoDB,2.0,4096.0,8192.0,0.0,Table to store presets data
1,mdl_adminpresets_app,BASE TABLE,InnoDB,0.0,0.0,8192.0,8192.0,Applied presets
2,mdl_adminpresets_app_it,BASE TABLE,InnoDB,0.0,0.0,8192.0,16384.0,Admin presets applied items. To maintain the r...
3,mdl_adminpresets_app_it_a,BASE TABLE,InnoDB,0.0,0.0,8192.0,16384.0,Attributes of the applied items
4,mdl_adminpresets_app_plug,BASE TABLE,InnoDB,0.0,0.0,8192.0,8192.0,Admin presets plugins applied
...,...,...,...,...,...,...,...,...
506,mdl_workshopform_rubric,BASE TABLE,InnoDB,0.0,0.0,8192.0,8192.0,The assessment dimensions definitions of Rubri...
507,mdl_workshopform_rubric_config,BASE TABLE,InnoDB,0.0,0.0,8192.0,8192.0,Configuration table for the Rubric grading str...
508,mdl_workshopform_rubric_levels,BASE TABLE,InnoDB,0.0,0.0,8192.0,8192.0,The definition of rubric rating scales
509,mdl_xapi_states,BASE TABLE,InnoDB,0.0,0.0,8192.0,24576.0,The stored xAPI states
510,user_enrollment_progress_view,VIEW,None,NaN,NaN,NaN,NaN,VIEW

## Explanation:

This query provides a comprehensive overview of each table in the `pathways_moodle` database, including its type (BASE TABLE or VIEW), storage engine, estimated number of rows, average row length, and sizes of data and indexes. The `table_comment` column, if populated, can also offer valuable insights into the table's purpose.

As you can see we have about 511 tables in the `pathways_moodle` table. If you noticed some of these tables are empty, it is likely they are not queried or updated from the website, which means users are not querying these tables, so let us put our focus on the main goal which we would likely get from the table users are using. I would like us to dig further to select the tables that are non-empty.

In [ ]:
# Filter for non-empty tables
df_non_empty_pathways_moodle = df_pathways_moodle_info[df_pathways_moodle_info['TABLE_ROWS'] > 0]
display(f"Table Shape -> Rows: {df_non_empty_pathways_moodle.shape[0]}, Columns: {df_non_empty_pathways_moodle.shape[1]}")
display(df_non_empty_pathways_moodle)

'Table Shape -> Rows: 206, Columns: 8'

,TABLE_NAME,TABLE_TYPE,ENGINE,TABLE_ROWS,AVG_ROW_LENGTH,DATA_LENGTH,INDEX_LENGTH,TABLE_COMMENT
0,mdl_adminpresets,BASE TABLE,InnoDB,2.0,4096.0,8192.0,0.0,Table to store presets data
5,mdl_adminpresets_it,BASE TABLE,InnoDB,24.0,341.0,8192.0,8192.0,Table to store settings
7,mdl_adminpresets_plug,BASE TABLE,InnoDB,115.0,71.0,8192.0,8192.0,"Admin presets plugins status, to store informa..."
8,mdl_analytics_indicator_calc,BASE TABLE,InnoDB,63.0,130.0,8192.0,16384.0,Stored indicator calculations
9,mdl_analytics_models,BASE TABLE,InnoDB,5.0,1638.0,8192.0,16384.0,Analytic models.
...,...,...,...,...,...,...,...,...
481,mdl_user_info_data,BASE TABLE,InnoDB,6972.0,610.0,4259840.0,155648.0,Data for the customisable user fields
482,mdl_user_info_field,BASE TABLE,InnoDB,4.0,2048.0,8192.0,0.0,Customisable user profile fields
483,mdl_user_lastaccess,BASE TABLE,InnoDB,1544.0,37.0,57344.0,114688.0,"To keep track of course page access times, use..."
486,mdl_user_preferences,BASE TABLE,InnoDB,5896.0,37.0,221184.0,352256.0,Allows modules to store arbitrary user prefere...
487,mdl_user_private_key,BASE TABLE,InnoDB,896.0,64.0,57344.0,65536.0,"access keys used in cookieless scripts - rss, ..."

## Explanation:
This table now shows only the non-empty tables from the `pathways_moodle` database. The `TABLE_ROWS` column indicates the number of rows in each table, and by filtering for `TABLE_ROWS > 0`, we ensure that we are looking at tables that actually contain data. This helps in identifying potentially important tables for further analysis. So far there are 206 non - empty tables in the `pathways_moodle` DataTable. Now let me extract the names of these tables, so we can dig deeper.

In [ ]:
# Give us the list of tables name all 206 tables
active_table_names = df_non_empty_pathways_moodle['TABLE_NAME'].to_list()
display(active_table_names)

['mdl_adminpresets',
 'mdl_adminpresets_it',
 'mdl_adminpresets_plug',
 'mdl_analytics_indicator_calc',
 'mdl_analytics_models',
 'mdl_analytics_predict_samples',
 'mdl_analytics_prediction_actions',
 'mdl_analytics_predictions',
 'mdl_analytics_used_analysables',
 'mdl_assign',
 'mdl_assign_grades',
 'mdl_assign_plugin_config',
 'mdl_assign_submission',
 'mdl_assign_user_mapping',
 'mdl_assignfeedback_editpdf_rot',
 'mdl_assignsubmission_file',
 'mdl_assignsubmission_onlinetext',
 'mdl_auth_oauth2_linked_login',
 'mdl_backup_controllers',
 'mdl_block',
 'mdl_block_configurable_reports',
 'mdl_block_instances',
 'mdl_block_positions',
 'mdl_block_recentlyaccesseditems',
 'mdl_book',
 'mdl_book_chapters',
 'mdl_capabilities',
 'mdl_choice',
 'mdl_choice_answers',
 'mdl_choice_options',
 'mdl_cohort_members',
 'mdl_config',
 'mdl_config_log',
 'mdl_config_plugins',
 'mdl_contentbank_content',
 'mdl_context',
 'mdl_course',
 'mdl_course_categories',
 'mdl_course_completion_aggr_methd',
 'mdl_course_completion_crit_compl',
 'mdl_course_completion_criteria',
 'mdl_course_completions',
 'mdl_course_format_options',
 'mdl_course_modules',
 'mdl_course_modules_completion',
 'mdl_course_modules_viewed',
 'mdl_course_sections',
 'mdl_customcert',
 'mdl_customcert_elements',
 'mdl_customcert_issues',
 'mdl_customcert_pages',
 'mdl_customcert_templates',
 'mdl_enrol',
 'mdl_event',
 'mdl_external_functions',
 'mdl_external_services',
 'mdl_external_services_functions',
 'mdl_external_tokens',
 'mdl_favourite',
 'mdl_feedback',
 'mdl_feedback_completed',
 'mdl_feedback_item',
 'mdl_feedback_value',
 'mdl_files',
 'mdl_files_reference',
 'mdl_filter_active',
 'mdl_flashcard',
 'mdl_flashcard_card',
 'mdl_flashcard_deckdata',
 'mdl_forum',
 'mdl_glossary_formats',
 'mdl_grade_categories',
 'mdl_grade_categories_history',
 'mdl_grade_grades',
 'mdl_grade_grades_history',
 'mdl_grade_items',
 'mdl_grade_items_history',
 'mdl_grade_settings',
 'mdl_grading_areas',
 'mdl_h5p',
 'mdl_h5p_contents_libraries',
 'mdl_h5p_libraries',
 'mdl_h5p_libraries_cachedassets',
 'mdl_h5p_library_dependencies',
 'mdl_label',
 'mdl_license',
 'mdl_local_profilecohort',
 'mdl_log_display',
 'mdl_logstore_standard_log',
 'mdl_message_contact_requests',
 'mdl_message_conversation_members',
 'mdl_message_conversations',
 'mdl_message_popup_notifications',
 'mdl_message_processors',
 'mdl_message_providers',
 'mdl_message_user_actions',
 'mdl_messageinbound_handlers',
 'mdl_messages',
 'mdl_mnet_application',
 'mdl_mnet_host',
 'mdl_mnet_remote_rpc',
 'mdl_mnet_remote_service2rpc',
 'mdl_mnet_rpc',
 'mdl_mnet_service',
 'mdl_mnet_service2rpc',
 'mdl_modules',
 'mdl_my_pages',
 'mdl_notifications',
 'mdl_oauth2_endpoint',
 'mdl_oauth2_issuer',
 'mdl_oauth2_user_field_mapping',
 'mdl_page',
 'mdl_qtype_ddmatch_options',
 'mdl_qtype_ddmatch_subquestions',
 'mdl_qtype_match_options',
 'mdl_qtype_match_subquestions',
 'mdl_qtype_multichoice_options',
 'mdl_question',
 'mdl_question_answers',
 'mdl_question_attempt_step_data',
 'mdl_question_attempt_steps',
 'mdl_question_attempts',
 'mdl_question_bank_entries',
 'mdl_question_categories',
 'mdl_question_ddwtos',
 'mdl_question_gapfill',
 'mdl_question_gapfill_settings',
 'mdl_question_gapselect',
 'mdl_question_hints',
 'mdl_question_references',
 'mdl_question_response_analysis',
 'mdl_question_response_count',
 'mdl_question_statistics',
 'mdl_question_truefalse',
 'mdl_question_usages',
 'mdl_question_versions',
 'mdl_questionnaire',
 'mdl_questionnaire_dependency',
 'mdl_questionnaire_quest_choice',
 'mdl_questionnaire_question',
 'mdl_questionnaire_question_type',
 'mdl_questionnaire_resp_multiple',
 'mdl_questionnaire_resp_single',
 'mdl_questionnaire_response',
 'mdl_questionnaire_response_bool',
 'mdl_questionnaire_response_rank',
 'mdl_questionnaire_response_text',
 'mdl_questionnaire_survey',
 'mdl_quiz',
 'mdl_quiz_attempts',
 'mdl_quiz_feedback',
 'mdl_quiz_grades',
 'mdl_quiz_reports',
 'mdl_quiz_sections',
 'mdl_quiz_slots',
 'mdl_quiz_statistics',
 'mdl_report_customsql_categories',
 'mdl_report_customsql_queries',
 'mdl_reportbuilder_column',
 'mdl_reportbuilder_filter',
 'mdl_reportbuilder_report',
 'mdl_repository',
 'mdl_repository_instances',
 'mdl_role',
 'mdl_role_allow_assign',
 'mdl_role_allow_override',
 'mdl_role_allow_switch',
 'mdl_role_allow_view',
 'mdl_role_assignments',
 'mdl_role_capabilities',
 'mdl_role_context_levels',
 'mdl_scale',
 'mdl_search_simpledb_index',
 'mdl_sessions',
 'mdl_stats_daily',
 'mdl_stats_monthly',
 'mdl_stats_user_daily',
 'mdl_stats_user_monthly',
 'mdl_stats_user_weekly',
 'mdl_stats_weekly',
 'mdl_survey',
 'mdl_survey_questions',
 'mdl_tag',
 'mdl_tag_area',
 'mdl_tag_instance',
 'mdl_task_log',
 'mdl_task_scheduled',
 'mdl_tiny_autosave',
 'mdl_tool_brickfield_checks',
 'mdl_tool_customlang',
 'mdl_tool_customlang_components',
 'mdl_tool_dataprivacy_request',
 'mdl_tool_mfa',
 'mdl_tool_mfa_auth',
 'mdl_tool_usertours_steps',
 'mdl_tool_usertours_tours',
 'mdl_upgrade_log',
 'mdl_url',
 'mdl_user',
 'mdl_user_enrolments',
 'mdl_user_info_category',
 'mdl_user_info_data',
 'mdl_user_info_field',
 'mdl_user_lastaccess',
 'mdl_user_preferences',
 'mdl_user_private_key']

Now we have successfully extracted and displayed a list of all the non-empty table names from the pathways_moodle database. This list contains 206 tables, which are the ones that actually hold data relevant to our analysis.

## Explanation:
* **What we did**: We previously identified that the `pathways_moodle` database contains a total of 511 tables. Some of these tables were empty, meaning they didn't contain any useful information. In the last step, we filtered out all the empty tables and extracted a list of only those tables that actually contain data.

* **What this means**:
  - **Technical**: We have retrieved the `TABLE_NAME` column from the `df_non_empty_pathways_moodle` DataFrame, which was previously filtered to include only tables where `TABLE_ROWS > 0`. This result is a Python list of 206 strings, where each string is the name of a table within the `pathways_moodle` schema that contains at least one row of data.

  - **Non-Technical**: Think of the database as a huge library with many books (tables). Some books are completely empty. What we've done is create a precise list of only the books that have actual content in them. This list contains 206 "content-filled" books that are important for Seefar Academy. These are the main sources of information about users, courses, and activities.

This list is crucial as it guides the subsequent data extraction process, ensuring we only query and process tables that hold meaningful information, optimizing resources and focusing on relevant data assets.

## **What Next:**
Now that we have this definitive list of active tables, our next step will be to go into each of these 206 tables, pull out all their data, and organize it into separate DataFrames. This is a critical step towards our goal of documenting the data and making it available for mapping and reporting.

So we:

1. **Extract Data to DataFrames**: Iterate through the list of non-empty table names, query each table from the 'pathways_moodle' database, and load its entire content into individual Pandas DataFrames.

2. **Prepare Google Sheet for Upload**: Authenticate with Google Colab and gspread, then create a new Google Spreadsheet. Clear any existing sheets to ensure a clean upload environment for the extracted data.

3. **Upload Data to Google Sheets**: For each extracted DataFrame, create a new worksheet in the Google Spreadsheet and upload the DataFrame's content to it. Include appropriate error handling for large tables that might exceed Google Sheets limits.

4. **Document Schema**: Extract and document the schema (column names and data types) for each table successfully uploaded to Google Sheets. Present this documentation in a clear, readable format.

5. **Analyze and Recommend Reporting Systems**: Based on the project objectives related to 'knowledge increase indicators' and differentiating data trends between 'employers, visa facilitators, and two different candidate groups', research and provide recommendations for suitable automated reporting systems.

6. **Finally**: Provide a summary of the extracted data, the documented schema, and the recommendations for automated reporting systems, along with links to the Google Sheet and Colab notebook

In [ ]:
from typing import Dict, Any

# A dictionary to store all the extracted tables as dataframes.
# This would aid future selection and storage
active_tables: Dict[str, Any] = {}

def extract_active_tables_to_df(engine, table_names):
  """
  Extracts and loads data from specified tables into Pandas DataFrames.

  Args:
      engine (sqlalchemy.engine.base.Engine): The database engine to use for querying.
      table_names (List[str]): A list of table names to extract and load into DataFrames.

  Returns:
      Dict[str, pd.DataFrame]: A dictionary where keys are table names and values are
                              corresponding Pandas DataFrames

  """
  tables = {}  # temporary storage for active tables
  for table_name in table_names:
      print(f"\n\n---> Displaying data for table: {table_name} ---\n")
      query = f"SELECT * FROM pathways_moodle.{table_name}"
      try:
          tables[table_name] = fetch_data(engine, query)
          display(tables[table_name].head(5))
          print(f"Successfully extracted data for table: {table_name}")
      except Exception as e:
          print(f"Error reading table {table_name}: {e}")
          continue
  return tables

active_tables = extract_active_tables_to_df(engine, active_table_names)

---> Displaying data for table: mdl_adminpresets ---

---> Database Connection Established
Feteched data shape -> rows: 2 columns: 11
---> Database connection closed

,id,userid,name,comments,site,author,moodleversion,moodlerelease,iscore,timecreated,timeimported
0,1,0,Starter,"Moodle with all of the most popular features, ...",http://localhost:8080,,,,1,1693378309,0
1,2,0,Full,All the Starter features plus External (LTI) t...,http://localhost:8080,,,,2,1693378310,0

Successfully extracted data for table: mdl_adminpresets


---> Displaying data for table: mdl_adminpresets_it ---

---> Database Connection Established
Feteched data shape -> rows: 24 columns: 5
---> Database connection closed

   id  adminpresetid plugin          name value
0   1              1   none   usecomments     0
1   2              1   none       usetags     0
2   3              1   none   enablenotes     0
3   4              1   none   enableblogs     0
4   5              1   none  enablebadges     0

Successfully extracted data for table: mdl_adminpresets_it


---> Displaying data for table: mdl_adminpresets_plug ---

---> Database Connection Established
Feteched data shape -> rows: 115 columns: 5
---> Database connection closed

   id  adminpresetid plugin    name  enabled
0   1              1    mod    chat        0
1   2              1    mod    data        0
2   3              1    mod     lti        0
3   4              1    mod   imscp        0
4   5              1    mod  lesson        0

Successfully extracted data for table: mdl_adminpresets_plug


---> Displaying data for table: mdl_analytics_indicator_calc ---

---> Database Connection Established
Feteched data shape -> rows: 63 columns: 9
---> Database connection closed

,id,starttime,endtime,contextid,sampleorigin,sampleid,indicator,value,timecreated
0,22427,1764486003,1767078003,9828,user_enrolments,1496,\core\analytics\indicator\any_course_access,1.0,1767078003
1,22428,1764486003,1767078003,9689,user_enrolments,1497,\core\analytics\indicator\any_course_access,1.0,1767078003
2,22429,1764572403,1767164403,9622,user_enrolments,1428,\core\analytics\indicator\any_course_access,-1.0,1767164403
3,22430,1764572403,1767164403,9622,user_enrolments,1452,\core\analytics\indicator\any_course_access,-1.0,1767164403
4,22431,1764572403,1767164403,9622,user_enrolments,1473,\core\analytics\indicator\any_course_access,-1.0,1767164403

Successfully extracted data for table: mdl_analytics_indicator_calc


---> Displaying data for table: mdl_analytics_models ---

---> Database Connection Established
Feteched data shape -> rows: 5 columns: 13
---> Database connection closed

,id,enabled,trained,name,target,indicators,timesplitting,predictionsprocessor,version,contextids,timecreated,timemodified,usermodified
0,1,0,0,None,\core_course\analytics\target\course_dropout,"[""\\core\\analytics\\indicator\\any_access_aft...",None,None,1693378313,None,1693378313,1693378313,0
1,2,1,1,None,\core_course\analytics\target\no_teaching,"[""\\core_course\\analytics\\indicator\\no_teac...",\core\analytics\time_splitting\single_range,None,1693378313,None,1693378313,1693378313,0
2,3,1,1,None,\core_user\analytics\target\upcoming_activitie...,"[""\\core_course\\analytics\\indicator\\activit...",\core\analytics\time_splitting\upcoming_week,None,1693378313,None,1693378313,1693378313,0
3,4,1,1,None,\core_course\analytics\target\no_access_since_...,"[""\\core\\analytics\\indicator\\any_course_acc...",\core\analytics\time_splitting\one_month_after...,None,1693378313,None,1693378313,1693378313,0
4,5,1,1,None,\core_course\analytics\target\no_recent_accesses,"[""\\core\\analytics\\indicator\\any_course_acc...",\core\analytics\time_splitting\past_month,None,1693378313,None,1693378313,1693378313,0

Successfully extracted data for table: mdl_analytics_models


---> Displaying data for table: mdl_analytics_predict_samples ---

---> Database Connection Established
Feteched data shape -> rows: 180371 columns: 8
---> Database connection closed

,id,modelid,analysableid,timesplitting,rangeindex,sampleids,timecreated,timemodified
0,1,2,1,\core\analytics\time_splitting\single_range,0,"{""2"":2,""5"":5,""6"":6,""7"":7,""8"":8,""9"":9,""12"":12,""...",1693530003,1765868403
1,4,3,6,\core\analytics\time_splitting\upcoming_week,0,"{""6"":""6""}",1694584803,1694584803
2,6,3,6,\core\analytics\time_splitting\upcoming_week,1,"{""6"":""6""}",1695189603,1695189603
3,9,3,6,\core\analytics\time_splitting\upcoming_week,2,"{""6"":""6""}",1695880803,1695880803
4,18,3,6,\core\analytics\time_splitting\upcoming_week,3,"{""6"":""6""}",1696399203,1696399203

Successfully extracted data for table: mdl_analytics_predict_samples


---> Displaying data for table: mdl_analytics_prediction_actions ---

---> Database Connection Established
Feteched data shape -> rows: 4 columns: 5
---> Database connection closed

   id  predictionid  userid         actionname  timecreated
0   1          4326      37  predictiondetails   1720614508
1   2          4326      37  viewoutlinereport   1720614518
2   3          4327      37  viewoutlinereport   1720614539
3   4             6    2730   viewparticipants   1769581066

Successfully extracted data for table: mdl_analytics_prediction_actions


---> Displaying data for table: mdl_analytics_predictions ---

---> Database Connection Established
Feteched data shape -> rows: 19627 columns: 11
---> Database connection closed

,id,modelid,contextid,sampleid,rangeindex,prediction,predictionscore,calculations,timecreated,timestart,timeend
0,1,2,1,6,0,1.0,1.0,"{""\\core_course\\analytics\\indicator\\no_teac...",1693616403,1693378494,1693616403
1,2,2,1,7,0,1.0,1.0,"{""\\core_course\\analytics\\indicator\\no_teac...",1694498403,1693378494,1694498403
2,3,2,1,8,0,1.0,1.0,"{""\\core_course\\analytics\\indicator\\no_teac...",1694498403,1693378494,1694498403
3,4,2,1,9,0,1.0,1.0,"{""\\core_course\\analytics\\indicator\\no_teac...",1695103203,1693378494,1695103203
4,6,2,1,12,0,1.0,1.0,"{""\\core_course\\analytics\\indicator\\no_teac...",1696572002,0,1696572002

Successfully extracted data for table: mdl_analytics_predictions


---> Displaying data for table: mdl_analytics_used_analysables ---

---> Database Connection Established
Feteched data shape -> rows: 2046 columns: 6
---> Database connection closed

   id  modelid      action  analysableid  firstanalysis  timeanalysed
0   1        2  prediction             1     1693443602    1769756402
1  13        3  prediction             6     1694584803    1769583605
2  19        5  prediction            10     1696399202    1769756403
3  20        4  prediction            10     1696399202    1769756404
4  21        5  prediction            12     1696572002    1769756403

Successfully extracted data for table: mdl_analytics_used_analysables


---> Displaying data for table: mdl_assign ---

---> Database Connection Established
Feteched data shape -> rows: 4 columns: 34
---> Database connection closed

,id,course,name,intro,introformat,alwaysshowdescription,nosubmissions,submissiondrafts,sendnotifications,sendlatenotifications,...,attemptreopenmethod,maxattempts,markingworkflow,markingallocation,sendstudentnotifications,preventsubmissionnotingroup,activity,activityformat,timelimit,submissionattachments
0,2,12,Self-care plan,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,1,0,0,0,0,...,none,-1,0,0,1,0,"<p dir=""ltr"" style="""">Download the worksheet, ...",1,0,0
1,3,15,طوّروا خطتكم للرعاية الذاتية,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,1,0,0,0,0,...,none,-1,0,0,1,0,"<p dir=""ltr"" style="""">الإرشادات: الرجاء تحميل ...",1,0,0
2,4,18,پلانی تایبەت بە گرنگیدان بە خۆت,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,1,0,0,0,0,...,none,-1,0,0,1,0,"<p dir=""ltr"" style="""">ڕێنماییەکان: لاپەڕەی کار...",1,0,0
3,5,34,برنامه مراقبت شخصی,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,1,0,0,0,0,...,none,-1,0,0,1,0,"<p dir=""ltr"" style=""""><strong></strong></p><h4...",1,0,0

Successfully extracted data for table: mdl_assign


---> Displaying data for table: mdl_assign_grades ---

---> Database Connection Established
Feteched data shape -> rows: 48 columns: 8
---> Database connection closed

,id,assignment,userid,timecreated,timemodified,grader,grade,attemptnumber
0,4,2,115,1701803201,1701803201,-1,-1.0,0
1,5,2,625,1706053629,1706053629,-1,-1.0,0
2,6,2,959,1707129995,1707129995,-1,-1.0,0
3,7,3,1796,1718781582,1718781582,-1,-1.0,0
4,8,2,1151,1719403447,1719403447,-1,-1.0,0

Successfully extracted data for table: mdl_assign_grades


---> Displaying data for table: mdl_assign_plugin_config ---

---> Database Connection Established
Feteched data shape -> rows: 52 columns: 6
---> Database connection closed

   id  assignment      plugin           subtype                name value
0  14           2  onlinetext  assignsubmission             enabled     1
1  15           2  onlinetext  assignsubmission           wordlimit     0
2  16           2  onlinetext  assignsubmission    wordlimitenabled     0
3  17           2        file  assignsubmission             enabled     1
4  18           2        file  assignsubmission  maxfilesubmissions    20

Successfully extracted data for table: mdl_assign_plugin_config


---> Displaying data for table: mdl_assign_submission ---

---> Database Connection Established
Feteched data shape -> rows: 55 columns: 10
---> Database connection closed

,id,assignment,userid,timecreated,timemodified,timestarted,status,groupid,attemptnumber,latest
0,4,2,11,1696876819,1696876819,None,new,0,0,1
1,5,3,11,1698110414,1698110414,None,new,0,0,1
2,6,3,23,1698408248,1698408248,None,new,0,0,1
3,7,3,33,1699441139,1699441139,None,new,0,0,1
4,9,2,115,1701722365,1701803201,None,submitted,0,0,1

Successfully extracted data for table: mdl_assign_submission


---> Displaying data for table: mdl_assign_user_mapping ---

---> Database Connection Established
Feteched data shape -> rows: 285 columns: 3
---> Database connection closed

   id  assignment  userid
0   4           2     125
1   5           2     114
2   6           2     100
3   7           2     116
4   8           2      96

Successfully extracted data for table: mdl_assign_user_mapping


---> Displaying data for table: mdl_assignfeedback_editpdf_rot ---

---> Database Connection Established
Feteched data shape -> rows: 48 columns: 6
---> Database connection closed

,id,gradeid,pageno,pathnamehash,isrotated,degree
0,1,34,0,311f83b89e4746c80735cc75099e8f19f6b5fba9,0,0
1,2,34,1,0b2fe2c496ced99b048908e318d5478434ebb412,0,0
2,3,15,0,8a4031acea60360e0e4bcdc73a9d6d8ce7d2d923,0,0
3,4,7,0,cab6ea12b156803aa2eb6583f71d2abf22b0eebd,0,0
4,5,46,0,888210fdbb0898b8729a9916434284c2737f570f,0,0

Successfully extracted data for table: mdl_assignfeedback_editpdf_rot


---> Displaying data for table: mdl_assignsubmission_file ---

---> Database Connection Established
Feteched data shape -> rows: 47 columns: 4
---> Database connection closed

   id  assignment  submission  numfiles
0   4           2           9         1
1   5           2          10         1
2   6           2          13         0
3   7           3          14         0
4   8           2          15         1

Successfully extracted data for table: mdl_assignsubmission_file


---> Displaying data for table: mdl_assignsubmission_onlinetext ---

---> Database Connection Established
Feteched data shape -> rows: 47 columns: 5
---> Database connection closed

,id,assignment,submission,onlinetext,onlineformat
0,4,2,9,,1
1,5,2,10,,1
2,6,2,13,"<p dir=""ltr"">TEAM CHECK-INS</p><p dir=""ltr"">CE...",1
3,7,3,14,"<p dir=""rtl"" style=""text-align: right;"">ادارة ...",1
4,8,2,15,,1

Successfully extracted data for table: mdl_assignsubmission_onlinetext


---> Displaying data for table: mdl_auth_oauth2_linked_login ---

---> Database Connection Established
Feteched data shape -> rows: 1215 columns: 10
---> Database connection closed

,id,timecreated,timemodified,usermodified,userid,issuerid,username,email,confirmtoken,confirmtokenexpires
0,1,1696816114,1696817613,0,3,1,nabilah@tyne-solutions.com,nabilah@tyne-solutions.com,,0
1,4,1696869340,1696869340,0,19,1,admin@seefar.org,admin@seefar.org,,0
2,12,1699268487,1699268538,0,28,5,t.khalid@themigrantproject.org,t.khalid@themigrantproject.org,,0
3,13,1699302972,1699302972,1,33,5,ali@seefarfoundation.org,ali@seefarfoundation.org,,0
4,14,1699426868,1699426868,1,36,5,karim.hessam1@gmail.com,karim.hessam1@gmail.com,,0

Successfully extracted data for table: mdl_auth_oauth2_linked_login


---> Displaying data for table: mdl_backup_controllers ---

---> Database Connection Established
Feteched data shape -> rows: 1 columns: 17
---> Database connection closed

,id,backupid,operation,type,itemid,format,interactive,purpose,userid,status,execution,executiontime,checksum,timecreated,timemodified,progress,controller
0,539,cf70b3dbedef131a18b2e9c9cd1dabee,backup,course,53,moodle2,0,50,37,1000,1,0,94cc334c335456d802e0ae1a2e25a9af,1768917240,1768917242,0.0,

Successfully extracted data for table: mdl_backup_controllers


---> Displaying data for table: mdl_block ---

---> Database Connection Established
Feteched data shape -> rows: 45 columns: 5
---> Database connection closed

   id              name  cron  lastcron  visible
0   1      accessreview     0         0        1
1   2  activity_modules     0         0        1
2   3  activity_results     0         0        1
3   4   admin_bookmarks     0         0        1
4   5            badges     0         0        1

Successfully extracted data for table: mdl_block


---> Displaying data for table: mdl_block_configurable_reports ---

---> Database Connection Established
Feteched data shape -> rows: 29 columns: 16
---> Database connection closed

,id,courseid,ownerid,visible,name,summary,summaryformat,type,pagination,components,export,jsordering,global,lastexecutiontime,cron,remote
0,11,1,2,1,User login and logout times,,1,sql,0,"a:3:{s:9:""customsql"";a:1:{s:6:""config"";O:8:""st...","csv,xls,",1,0,89,0,0
1,12,1,2,1,User dedication time in a course,<p>This report shows the users' time spent in ...,0,users,0,"a:3:{s:7:""columns"";a:2:{s:8:""elements"";a:6:{i:...","csv,xls,",1,1,0,0,0
2,20,1,2,0,Responses to questions required at sign-up,<p>This report returns the list of all users a...,1,users,0,"a:3:{s:7:""columns"";a:2:{s:8:""elements"";a:16:{i...","csv,xls,",1,0,0,0,0
3,24,1,2,1,No. of Course Enrolments,,1,courses,0,"a:3:{s:7:""columns"";a:1:{s:8:""elements"";a:4:{i:...","csv,xls,",1,0,0,0,0
4,25,1,2,1,User visits on the platform,<p>User visits are counted from the number of ...,1,sql,0,"a:3:{s:9:""customsql"";a:1:{s:6:""config"";O:8:""st...","csv,xls,",1,0,9924,0,0

Successfully extracted data for table: mdl_block_configurable_reports


---> Displaying data for table: mdl_block_instances ---

---> Database Connection Established
Feteched data shape -> rows: 5765 columns: 12
---> Database connection closed

,id,blockname,parentcontextid,showinsubcontexts,requiredbytheme,pagetypepattern,subpagepattern,defaultregion,defaultweight,configdata,timecreated,timemodified
0,1,admin_bookmarks,1,0,0,admin-*,None,side-pre,2,,1693378364,1693378364
1,2,recentlyaccesseditems,1,0,0,my-index,2,side-post,0,,1693378364,1693378364
2,3,timeline,1,0,0,my-index,2,content,0,,1693378364,1693378364
3,4,calendar_month,1,0,0,my-index,2,content,1,,1693378364,1693378364
4,5,myoverview,1,0,0,my-index,3,content,0,,1693378364,1693378364

Successfully extracted data for table: mdl_block_instances


---> Displaying data for table: mdl_block_positions ---

---> Database Connection Established
Feteched data shape -> rows: 1 columns: 8
---> Database connection closed

,id,blockinstanceid,contextid,pagetype,subpage,visible,region,weight
0,4,1957,4031,my-index,392,1,side-post,0

Successfully extracted data for table: mdl_block_positions


---> Displaying data for table: mdl_block_recentlyaccesseditems ---

---> Database Connection Established
Feteched data shape -> rows: 5858 columns: 5
---> Database connection closed

    id  courseid  cmid  userid  timeaccess
0  811        14   327      23  1698660985
1  812        14   330      23  1698660974
2  814        14   332      23  1698663272
3  815        14   334      23  1698664072
4  825        14   335      23  1698740448

Successfully extracted data for table: mdl_block_recentlyaccesseditems


---> Displaying data for table: mdl_book ---

---> Database Connection Established
Feteched data shape -> rows: 4 columns: 11
---> Database connection closed

,id,course,name,intro,introformat,numbering,navstyle,customtitles,revision,timecreated,timemodified
0,1,12,My role as a frontline worker,"<p dir=""ltr"" style=""text-align: left;""><b id=""...",1,1,1,1,32,1696593543,1698102589
1,2,15,دوري كعامل/ة على الخطوط الأمامية,"<h3 style=""text-align: right;""><b id=""docs-int...",1,1,1,1,6,1696593543,1698118516
2,3,18,ڕۆڵی من وەک کارمەندێکی هێڵی پێشەوە,"<p dir=""ltr"" style=""text-align: left;""><b styl...",1,1,1,1,11,1696593543,1699955404
3,4,34,نقش من منحیث کارمند ساحوی,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,1,1,1,8,1696593543,1699441468

Successfully extracted data for table: mdl_book


---> Displaying data for table: mdl_book_chapters ---

---> Database Connection Established
Feteched data shape -> rows: 12 columns: 11
---> Database connection closed

,id,bookid,pagenum,subchapter,title,content,contentformat,hidden,timecreated,timemodified,importsrc
0,1,1,1,0,Decision making support to migrants,"<h4 style=""text-align: center; margin-left: 30...",1,0,1696593955,1697203758,
1,2,1,2,0,Psychosocial support,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,0,1697034694,1697203790,
2,3,1,3,0,Keeping yourself healthy and present,"<p dir=""ltr"" style=""text-align: center;""><img ...",1,0,1697034962,1698097886,
3,4,2,1,0,دعم صنع القرار للمهاجرين,"<h4 style=""text-align: center; margin-left: 30...",1,0,0,1698402936,
4,5,2,2,0,الدعم النفسي والاجتماعي,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,0,0,1698119010,

Successfully extracted data for table: mdl_book_chapters


---> Displaying data for table: mdl_capabilities ---

---> Database Connection Established
Feteched data shape -> rows: 761 columns: 6
---> Database connection closed

,id,name,captype,contextlevel,component,riskbitmask
0,1,moodle/site:config,write,10,moodle,62
1,2,moodle/site:configview,read,10,moodle,0
2,3,moodle/site:readallmessages,read,10,moodle,8
3,4,moodle/site:manageallmessaging,write,10,moodle,8
4,5,moodle/site:deleteanymessage,write,10,moodle,32

Successfully extracted data for table: mdl_capabilities


---> Displaying data for table: mdl_choice ---

---> Database Connection Established
Feteched data shape -> rows: 42 columns: 19
---> Database connection closed

,id,course,name,intro,introformat,publish,showresults,display,allowupdate,allowmultiple,showunanswered,includeinactive,limitanswers,timeopen,timeclose,showpreview,timemodified,completionsubmit,showavailable
0,4,10,What would you do #1,<h3>What would you do in this situation?</h3>\...,1,0,1,0,0,0,0,0,0,0,0,0,1698396202,1,0
1,5,10,What would you do #2,<h3>What would you do in this situation?</h3>\...,1,0,1,0,0,0,0,0,0,0,0,0,1696576561,1,0
2,6,10,What would you do #3,<h3>What would you do in this situation?</h3>\...,1,0,1,0,0,0,0,0,0,0,0,0,1696576622,1,0
3,7,10,What would you do #4,<h3>What would you do in this situation?</h3>\...,1,0,1,0,0,0,0,0,0,0,0,0,1696576712,1,0
4,8,10,What would you do #5,<h3>What would you do in this situation?</h3>\...,1,0,1,0,0,0,0,0,0,0,0,0,1696576763,1,0

Successfully extracted data for table: mdl_choice


---> Displaying data for table: mdl_choice_answers ---

---> Database Connection Established
Feteched data shape -> rows: 183 columns: 5
---> Database connection closed

   id  choiceid  userid  optionid  timemodified
0   8        11      23        45    1698240228
1   9        12      23        47    1698240259
2  10        13      23        49    1698240295
3  11        14      23        54    1698240350
4  12         4      10        18    1698396212

Successfully extracted data for table: mdl_choice_answers


---> Displaying data for table: mdl_choice_options ---

---> Database Connection Established
Feteched data shape -> rows: 126 columns: 5
---> Database connection closed

,id,choiceid,text,maxanswers,timemodified
0,17,4,Begin migration journey to Europe,0,1698396202
1,18,4,Look for more information about the journey an...,0,1698396202
2,19,4,Stay in your hometown,0,1698396202
3,20,5,Take a loan to pay a smuggler and leave immedi...,0,1696576561
4,21,5,Continue to work and save money,0,1696576561

Successfully extracted data for table: mdl_choice_options


---> Displaying data for table: mdl_cohort_members ---

---> Database Connection Established
Feteched data shape -> rows: 3 columns: 4
---> Database connection closed

   id  cohortid  userid   timeadded
0  16         4       2  1695629142
1  17         4       6  1695630443
2  18         4      17  1696740960

Successfully extracted data for table: mdl_cohort_members


---> Displaying data for table: mdl_config ---

---> Database Connection Established
Feteched data shape -> rows: 587 columns: 3
---> Database connection closed

   id                        name                     value
0   2                 rolesactive                         1
1   3                        auth              email,oauth2
2   4       enrol_plugins_enabled  guest,self,cohort,manual
3   5                       theme                     space
4   6  filter_multilang_converted                         1

Successfully extracted data for table: mdl_config


---> Displaying data for table: mdl_config_log ---

---> Database Connection Established
Feteched data shape -> rows: 8334 columns: 7
---> Database connection closed

   id  userid  timemodified plugin                       name value oldvalue
0   1       0    1693378317   None         enableuserfeedback     0     None
1   2       0    1693378318   None  userfeedback_nextreminder     1     None
2   3       0    1693378318   None   userfeedback_remindafter    90     None
3   4       0    1693378318   None             enableoutcomes     0     None
4   5       0    1693378318   None                usecomments     1     None

Successfully extracted data for table: mdl_config_log


---> Displaying data for table: mdl_config_plugins ---

---> Database Connection Established
Feteched data shape -> rows: 3068 columns: 4
---> Database connection closed

   id    plugin                   name value
0   1  question  multichoice_sortorder     1
1   2  question    truefalse_sortorder     2
2   3  question        match_sortorder     3
3   4  question  shortanswer_sortorder     4
4   5  question    numerical_sortorder     5

Successfully extracted data for table: mdl_config_plugins


---> Displaying data for table: mdl_contentbank_content ---

---> Database Connection Established
Feteched data shape -> rows: 224 columns: 11
---> Database connection closed

,id,name,contenttype,contextid,visibility,instanceid,configdata,usercreated,usermodified,timecreated,timemodified
0,8,Navigating this Course,contenttype_h5p,9417,1,0,,2588,2588,1746526199,1746526199
1,10,Intro to skilled migration,contenttype_h5p,1748,1,0,,2588,2588,1746551298,1746553744
2,11,1.1 Intro to skilled migration,contenttype_h5p,9417,1,0,,2588,2588,1746698531,1754409905
3,12,2.1 H5p interaction,contenttype_h5p,9417,1,0,,2588,2588,1747207742,1747220847
4,13,2.1 Avatar Video,contenttype_h5p,9417,1,0,,2588,2588,1747208224,1747208224

Successfully extracted data for table: mdl_contentbank_content


---> Displaying data for table: mdl_context ---

---> Database Connection Established
Feteched data shape -> rows: 8930 columns: 6
---> Database connection closed

   id  contextlevel  instanceid  path  depth  locked
0   1            10           0    /1      1       0
1   2            50           1  /1/2      2       0
2   4            30           1  /1/4      2       0
3   5            30           2  /1/5      2       0
4   6            80           1  /1/6      2       0

Successfully extracted data for table: mdl_context


---> Displaying data for table: mdl_course ---

---> Database Connection Established
Feteched data shape -> rows: 30 columns: 37
---> Database connection closed

,id,category,sortorder,fullname,shortname,idnumber,summary,summaryformat,format,showgrades,...,timecreated,timemodified,requested,enablecompletion,completionnotify,cacherev,originalcourseid,showactivitydates,showcompletionconditions,pdfexportfont
0,1,0,1,Seefar Academy,SeefarAcademy,,<p>Seefar Academy</p>,0,site,1,...,1693378302,1765632964,0,0,0,1768149197,NaN,0,NaN,None
1,10,6,30007,A Smart Guide to Help You Understand Whether Y...,Ready to Migrate?,,"<p dir=""ltr"" style=""text-align: left;""><span i...",1,topics,0,...,1696315525,1765178316,0,1,0,1768149197,NaN,0,1.0,None
2,12,6,30006,Frontline Workers Training: Self-Care and Adap...,Frontline Workers Training,,"<p dir=""ltr"" style=""text-align: left;""><span s...",1,topics,0,...,1696505349,1765178324,0,1,0,1768149197,NaN,0,1.0,None
3,13,7,50003,الدليل الذكي لمساعدتك على معرفة مدى جاهزيتك لل...,Ready to migrate? arabic,,"<p dir=""ltr"" style=""text-align: right;""><span ...",1,topics,0,...,1696315525,1765178505,0,1,0,1768149197,10.0,0,1.0,None
4,14,7,50002,دليل ذكي لمساعدتك على فهم واقع الحياة في أوروبا,Life in Europe arabic,,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,topics,1,...,1696490197,1765178496,0,1,0,1768149197,11.0,1,1.0,None

Successfully extracted data for table: mdl_course


---> Displaying data for table: mdl_course_categories ---

---> Database Connection Established
Feteched data shape -> rows: 10 columns: 14
---> Database connection closed

,id,name,idnumber,description,descriptionformat,parent,sortorder,coursecount,visible,visibleold,timemodified,depth,path,theme
0,6,Seefar Academy (English),,"<script>\r\n ! function(f, b, e, v, n, t, s...",1,0,30000,7,1,1,1718602878,1,/6,None
1,7,Seefar Academy (Arabic),,"<script>\r\n ! function(f, b, e, v, n, t, s...",1,0,50000,3,1,1,1718607900,1,/7,None
2,8,Seefar Academy (Bengali),,,1,0,60000,2,1,1,1698049894,1,/8,None
3,9,Seefar Academy (Farsi),,,1,0,70000,3,1,1,1698919682,1,/9,None
4,10,Seefar Academy (Kurdish),,,1,0,80000,3,1,1,1698049972,1,/10,None

Successfully extracted data for table: mdl_course_categories


---> Displaying data for table: mdl_course_completion_aggr_methd ---

---> Database Connection Established
Feteched data shape -> rows: 88 columns: 5
---> Database connection closed

   id  course  criteriatype  method value
0  49      38           NaN       1  None
1  50      38           4.0       1  None
2  51      38           8.0       1  None
3  52      38           7.0       1  None
4  61      35           NaN       1  None

Successfully extracted data for table: mdl_course_completion_aggr_methd


---> Displaying data for table: mdl_course_completion_crit_compl ---

---> Database Connection Established
Feteched data shape -> rows: 19913 columns: 7
---> Database connection closed

   id  userid  course  criteriaid gradefinal unenroled  timecompleted
0   8     209      38          29       None      None     1702434266
1   9     209      38          31       None      None     1702418441
2  10     210      38          31       None      None     1702458597
3  11     209      38          32       None      None     1702418582
4  12     209      38          51       None      None     1702434097

Successfully extracted data for table: mdl_course_completion_crit_compl


---> Displaying data for table: mdl_course_completion_criteria ---

---> Database Connection Established
Feteched data shape -> rows: 541 columns: 10
---> Database connection closed

,id,course,criteriatype,module,moduleinstance,courseinstance,enrolperiod,timeend,gradepass,role
0,28,38,4,page,1220,None,None,None,None,None
1,29,38,4,questionnaire,1221,None,None,None,None,None
2,30,38,4,quiz,1228,None,None,None,None,None
3,31,38,4,questionnaire,1229,None,None,None,None,None
4,32,38,4,questionnaire,1230,None,None,None,None,None

Successfully extracted data for table: mdl_course_completion_criteria


---> Displaying data for table: mdl_course_completions ---

---> Database Connection Established
Feteched data shape -> rows: 1468 columns: 7
---> Database connection closed

    id  userid  course  timeenrolled  timestarted  timecompleted  reaggregate
0  110     209      38             0   1702434266            NaN            0
1  111     210      38             0   1702458597            NaN            0
2  112      34      38             0   1702287199            NaN            0
3  113     202      38             0   1702363523            NaN            0
4  115     191      38    1702236602            0            NaN            0

Successfully extracted data for table: mdl_course_completions


---> Displaying data for table: mdl_course_format_options ---

---> Database Connection Established
Feteched data shape -> rows: 59 columns: 6
---> Database connection closed

   id  courseid  format  sectionid            name value
0   1         1    site          0     numsections     0
1  18        12  topics          0  hiddensections     0
2  19        12  topics          0   coursedisplay     0
3  91        10  topics          0  hiddensections     0
4  92        10  topics          0   coursedisplay     1

Successfully extracted data for table: mdl_course_format_options


---> Displaying data for table: mdl_course_modules ---

---> Database Connection Established
Feteched data shape -> rows: 1117 columns: 24
---> Database connection closed

,id,course,module,instance,section,idnumber,added,score,indent,visible,...,completion,completiongradeitemnumber,completionview,completionexpected,completionpassgrade,showdescription,availability,deletioninprogress,downloadcontent,lang
0,17,1,9,8,14,None,1694611056,0,0,1,...,0,NaN,0,0,0,0,None,0,1,None
1,29,10,17,4,23,,1696317902,0,0,1,...,2,NaN,0,0,0,0,None,0,1,
2,30,10,13,4,23,,1696318191,0,0,1,...,0,NaN,0,0,0,1,None,0,1,
3,33,10,13,5,22,,1696324810,0,0,1,...,0,NaN,0,0,0,1,None,0,1,
4,34,10,13,6,32,,1696325568,0,0,1,...,0,NaN,0,0,0,1,None,0,1,

Successfully extracted data for table: mdl_course_modules


---> Displaying data for table: mdl_course_modules_completion ---

---> Database Connection Established
Feteched data shape -> rows: 20193 columns: 6
---> Database connection closed

   id  coursemoduleid  userid  completionstate overrideby  timemodified
0  43              29      10                1       None    1696929168
1  47             139      10                1       None    1696932844
2  48              41      10                1       None    1696933254
3  49             133      10                1       None    1696936537
4  52              69      10                1       None    1696938614

Successfully extracted data for table: mdl_course_modules_completion


---> Displaying data for table: mdl_course_modules_viewed ---

---> Database Connection Established
Feteched data shape -> rows: 1213 columns: 4
---> Database connection closed

   id  coursemoduleid  userid  timecreated
0  30              29      10   1696928650
1  32             109      10   1697187730
2  38              67      10   1697792617
3  39             219      10   1697792618
4  40             356      11   1698108257

Successfully extracted data for table: mdl_course_modules_viewed


---> Displaying data for table: mdl_course_sections ---

---> Database Connection Established
Feteched data shape -> rows: 627 columns: 10
---> Database connection closed

,id,course,section,name,summary,summaryformat,sequence,visible,availability,timemodified
0,9,1,1,None,,1,,1,None,1693976383
1,14,1,0,None,,1,17,1,None,1694611056
2,21,10,0,Course Home,"<script>\r\n ! function(f, b, e, v, n, t, s...",1,,1,"{""op"":""&"",""c"":[],""showc"":[]}",1718607513
3,22,10,2,Module 1: How do people make smart decisions a...,,1,33,1,"{""op"":""&"",""c"":[{""type"":""completion"",""cm"":-1,""e...",1713868039
4,23,10,1,Initial Survey,,1,"30,29,219",1,None,1699271608

Successfully extracted data for table: mdl_course_sections


---> Displaying data for table: mdl_customcert ---

---> Database Connection Established
Feteched data shape -> rows: 26 columns: 16
---> Database connection closed

,id,course,templateid,name,intro,introformat,requiredtime,verifyany,deliveryoption,emailstudents,emailteachers,emailothers,protection,language,timecreated,timemodified
0,2,10,2,Course Certificate,,1,0,0,I,1,0,,,,1697180787,1701094812
1,4,13,4,شهادة إكمال الدورة,,1,0,0,I,1,0,,,,1696572387,1701095033
2,5,14,5,شهادة إكمال الدورة,,1,0,0,I,0,0,,,,1697017904,1701094948
3,6,12,6,Certificate,,1,0,1,I,1,0,,,,1698069931,1705578022
4,7,15,7,شهادة إكمال الدورة,,1,0,0,I,1,0,,,,1698069931,1701094886

Successfully extracted data for table: mdl_customcert


---> Displaying data for table: mdl_customcert_elements ---

---> Database Connection Established
Feteched data shape -> rows: 189 columns: 16
---> Database connection closed

,id,pageid,name,element,data,font,fontsize,colour,posx,posy,width,refpoint,alignment,sequence,timecreated,timemodified
0,4,2,Student name,studentname,,helveticab,36.0,#000000,195.0,90.0,0.0,1.0,C,2,1698055715,1698057756
1,5,2,Date,date,"{""dateitem"":""-2"",""dateformat"":""1""}",helvetica,12.0,#000000,195.0,170.0,0.0,1.0,C,5,1698055769,1705578632
2,6,2,Text line 1,text,A Smart Guide to Help You Understand Whether,helveticab,14.0,#000000,195.0,125.0,0.0,1.0,C,3,1698056941,1698057494
3,7,2,Text line 2,text,You are Ready to Migrate,helveticab,14.0,#000000,195.0,132.0,0.0,1.0,C,4,1698057028,1698057506
4,8,2,Background image,bgimage,"{""width"":0,""height"":0,""contextid"":""119"",""filea...",None,NaN,None,NaN,NaN,NaN,NaN,L,1,1698057376,1698070817

Successfully extracted data for table: mdl_customcert_elements


---> Displaying data for table: mdl_customcert_issues ---

---> Database Connection Established
Feteched data shape -> rows: 560 columns: 6
---> Database connection closed

   id  userid  customcertid        code  emailed  timecreated
0   4      10             2  5LakqwivY9        1   1698055494
1   5      23             2  EAP1aNgMAD        1   1698055622
2   6      11             2  kI8SfHrI4j        1   1698070838
3   7      11             6  VWBtZs6tI6        1   1698070861
4   8      23             4  MIIKWSiXED        1   1698228242

Successfully extracted data for table: mdl_customcert_issues


---> Displaying data for table: mdl_customcert_pages ---

---> Database Connection Established
Feteched data shape -> rows: 27 columns: 9
---> Database connection closed

,id,templateid,width,height,leftmargin,rightmargin,sequence,timecreated,timemodified
0,2,2,297,210,0,0,1,1697180787,1705578671
1,4,4,297,210,0,0,1,1696572387,1706176473
2,5,5,297,210,0,0,1,1697017904,1706176408
3,6,6,297,210,0,0,1,1698069931,1705578208
4,7,7,297,210,0,0,1,1698069931,1706176297

Successfully extracted data for table: mdl_customcert_pages


---> Displaying data for table: mdl_customcert_templates ---

---> Database Connection Established
Feteched data shape -> rows: 27 columns: 5
---> Database connection closed

   id                name  contextid  timecreated  timemodified
0   2       certificate 1        369   1697180787    1705578671
1   4       certificate 1        478   1696572387    1706176473
2   5  Course Certificate        516   1697017904    1706176408
3   6        Certificate1        517   1698069931    1705578208
4   7        Certificate1        567   1698069931    1706176297

Successfully extracted data for table: mdl_customcert_templates


---> Displaying data for table: mdl_enrol ---

---> Database Connection Established
Feteched data shape -> rows: 88 columns: 35
---> Database connection closed

,id,enrol,status,courseid,sortorder,name,enrolperiod,enrolstartdate,enrolenddate,expirynotify,...,customchar2,customchar3,customdec1,customdec2,customtext1,customtext2,customtext3,customtext4,timecreated,timemodified
0,19,manual,0,10,0,None,0,0,0,0,...,None,None,None,None,None,None,None,None,1696315525,1696315525
1,20,guest,1,10,1,None,0,0,0,0,...,None,None,None,None,None,None,None,None,1696315526,1696315526
2,21,self,0,10,2,None,0,0,0,0,...,None,None,None,None,None,None,None,None,1696315526,1696315526
3,25,manual,0,12,0,None,0,0,0,0,...,None,None,None,None,None,None,None,None,1696505349,1696505349
4,26,guest,1,12,1,None,0,0,0,0,...,None,None,None,None,None,None,None,None,1696505349,1696505349

Successfully extracted data for table: mdl_enrol


---> Displaying data for table: mdl_event ---

---> Database Connection Established
Feteched data shape -> rows: 18 columns: 24
---> Database connection closed

,id,name,description,format,categoryid,courseid,groupid,userid,repeatid,component,...,timestart,timeduration,timesort,visible,uuid,sequence,timemodified,subscriptionid,priority,location
0,3,الهجره,,1,0,0,0,192,0,None,...,1702251960,0,None,1,,1,1702252001,None,None,
1,4,Mohammad khan,,1,0,0,0,255,0,None,...,1703426580,0,None,1,,1,1703426628,None,None,
2,5,Frontline workers training,,1,0,0,0,278,0,None,...,1703940540,0,None,1,,1,1703940584,None,None,
3,7,Mogaji Murtador,,1,0,0,0,485,0,None,...,1705693560,0,None,1,,1,1705088880,None,None,
4,8,Unknown yet,,1,0,0,0,662,0,None,...,1705953060,0,None,1,,1,1705953137,None,None,

Successfully extracted data for table: mdl_event


---> Displaying data for table: mdl_external_functions ---

---> Database Connection Established
Feteched data shape -> rows: 701 columns: 8
---> Database connection closed

,id,name,classname,methodname,classpath,component,capabilities,services
0,1,core_auth_confirm_user,core_auth_external,confirm_user,None,moodle,,None
1,2,core_auth_request_password_reset,core_auth_external,request_password_reset,None,moodle,,None
2,3,core_auth_is_minor,core_auth_external,is_minor,None,moodle,,None
3,4,core_auth_is_age_digital_consent_verification_...,core_auth_external,is_age_digital_consent_verification_enabled,None,moodle,,None
4,5,core_auth_resend_confirmation_email,core_auth_external,resend_confirmation_email,None,moodle,,None

Successfully extracted data for table: mdl_external_functions


---> Displaying data for table: mdl_external_services ---

---> Database Connection Established
Feteched data shape -> rows: 3 columns: 11
---> Database connection closed

,id,name,enabled,requiredcapability,restrictedusers,component,timecreated,timemodified,shortname,downloadfiles,uploadfiles
0,1,Moodle mobile web service,0,None,0,moodle,1693378312,1.694583e+09,moodle_mobile_app,1,1
1,2,mod_questionnaire_ws,1,None,1,mod_questionnaire,1697159778,NaN,None,0,0
2,3,my_api,1,,0,None,1701806543,NaN,my_api,1,0

Successfully extracted data for table: mdl_external_services


---> Displaying data for table: mdl_external_services_functions ---

---> Database Connection Established
Feteched data shape -> rows: 411 columns: 3
---> Database connection closed

   id  externalserviceid                             functionname
0   1                  1              core_badges_get_user_badges
1   2                  1                    core_blog_get_entries
2   3                  1                   core_blog_view_entries
3   4                  1  core_calendar_get_calendar_monthly_view
4   5                  1      core_calendar_get_calendar_day_view

Successfully extracted data for table: mdl_external_services_functions


---> Displaying data for table: mdl_external_tokens ---

---> Database Connection Established
Feteched data shape -> rows: 3 columns: 13
---> Database connection closed

,id,token,privatetoken,tokentype,userid,externalserviceid,sid,contextid,creatorid,iprestriction,validuntil,timecreated,lastaccess
0,1,b2b8d6aba7de821dc6290c7e301c54e7,xLq2mW5HXSs6mhpVg54XZXq6pwllJ5vjBWrMrx9cXzZDLC...,0,37,3,None,1,37,None,0.0,1701807121,1.701809e+09
1,4,056f8ca40378c83393503041c08ca733,8sZKVQiPJjJRKkXIFlKiEYnixZGvoO5zjnq8547LaAnjC0...,0,2588,3,None,1,2588,None,NaN,1745837289,NaN
2,5,11dff6a3af264934505293e55de1d2bb,VOhN0hGuFyn2xg0YoROxed61VegefDHCYLQ8Y7QNRxsPfW...,0,2588,1,None,1,2588,None,NaN,1745837293,NaN

Successfully extracted data for table: mdl_external_tokens


---> Displaying data for table: mdl_favourite ---

---> Database Connection Established
Feteched data shape -> rows: 295 columns: 9
---> Database connection closed

,id,component,itemtype,itemid,contextid,userid,ordering,timecreated,timemodified
0,1,core_message,message_conversations,1,59,6,None,1695630603,1695630603
1,2,core_message,message_conversations,2,5,2,None,1696244984,1696244984
2,3,core_course,contentitem_mod_label,13,111,10,None,1696324724,1696324724
3,4,core_course,contentitem_mod_quiz,17,111,10,None,1696326657,1696326657
4,5,core_course,contentitem_mod_feedback,7,111,10,None,1696499834,1696499834

Successfully extracted data for table: mdl_favourite


---> Displaying data for table: mdl_feedback ---

---> Database Connection Established
Feteched data shape -> rows: 64 columns: 17
---> Database connection closed

,id,course,name,intro,introformat,anonymous,email_notification,multiple_submit,autonumbering,site_after_submit,page_after_submit,page_after_submitformat,publish_stats,timeopen,timeclose,timemodified,completionsubmit
0,6,10,What kind of decision maker are you?,"<p dir=""ltr"" style=""text-align: center;""><img ...",1,1,0,0,0,,"<p dir=""ltr"" style=""text-align: right;""><span ...",1,0,0,0,1699260321,1
1,16,10,Final survey part 3,"<p dir=""ltr"" style=""text-align: left;""><span i...",1,1,0,0,0,,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,0,0,0,1697811247,1
2,18,12,Reflection time!,"<p dir=""ltr"" style=""text-align: left;""><span i...",1,2,0,0,0,,"<h4 style=""text-align: left;""><strong>Great jo...",1,0,0,0,1698102672,1
3,19,12,What do you see?,"<div class=""editor-indent"" style=""margin-left:...",1,1,0,0,0,,,1,0,0,0,1698102901,1
4,20,12,Reflection time!,,1,1,0,0,0,,"<h4 style=""text-align: left;""><strong>Great jo...",1,0,0,0,1698103699,1

Successfully extracted data for table: mdl_feedback


---> Displaying data for table: mdl_feedback_completed ---

---> Database Connection Established
Feteched data shape -> rows: 1376 columns: 7
---> Database connection closed

,id,feedback,userid,timemodified,random_response,anonymous_response,courseid
0,18,6,23,1697993786,1,1,0
1,19,16,23,1698059203,3,1,0
2,20,34,23,1698240054,0,1,0
3,21,35,23,1698242156,0,1,0
4,22,34,33,1699303942,0,1,0

Successfully extracted data for table: mdl_feedback_completed


---> Displaying data for table: mdl_feedback_item ---

---> Database Connection Established
Feteched data shape -> rows: 318 columns: 13
---> Database connection closed

,id,feedback,template,name,label,presentation,typ,hasvalue,position,required,dependitem,dependvalue,options
0,41,0,1,How important is migrating to Europe to you as...,,r>>>>>Very important\r|Important\r|Neutral\r|N...,multichoice,1,1,0,0,,h
1,42,0,1,Do you plan to migrate to Europe in the next 1...,,"r>>>>>Yes, in any way possible\r|Yes, I plan t...",multichoice,1,2,0,0,,h
2,43,0,1,What is your expected departure date?,,r>>>>>Immediately (less than one month)\r|1 - ...,multichoice,1,3,0,0,,h
3,44,0,1,What is your final country of destination in E...,,r>>>>>Austria\r|Belgium\r|Denmark\r|France\r|F...,multichoice,1,4,0,0,,h
4,45,0,1,What are the legal migration options you belie...,,c>>>>>International protection or asylum\r|Fam...,multichoice,1,5,0,0,,h

Successfully extracted data for table: mdl_feedback_item


---> Displaying data for table: mdl_feedback_value ---

---> Database Connection Established
Feteched data shape -> rows: 3429 columns: 6
---> Database connection closed

   id  course_id  item  completed  tmp_completed value
0  67          0    48         18              0     1
1  68          0    49         18              0     1
2  69          0    50         18              0     1
3  70          0    51         18              0     2
4  71          0    52         18              0     2

Successfully extracted data for table: mdl_feedback_value


---> Displaying data for table: mdl_files ---

---> Database Connection Established
Feteched data shape -> rows: 16416 columns: 20
---> Database connection closed

,id,contenthash,pathnamehash,contextid,component,filearea,itemid,filepath,filename,userid,filesize,mimetype,status,source,author,license,timecreated,timemodified,sortorder,referencefileid
0,1,5f8e911d0da441e36f47c5c46f4393269211ca56,508e674d49c30d4fde325fe6c7f6fd3d56b247e1,1,assignfeedback_editpdf,stamps,0,/,smile.png,2.0,1085,image/png,0,None,None,None,1693378389,1693378389,0,NaN
1,2,da39a3ee5e6b4b0d3255bfef95601890afd80709,70b7cdade7b4e27d4e83f0cdaad10d6a3c0cccb5,1,assignfeedback_editpdf,stamps,0,/,.,2.0,0,None,0,None,None,None,1693378389,1693378389,0,NaN
2,3,75c101cb8cb34ea573cd25ac38f8157b1de901b8,68317eab56c67d32aeaee5acf509a0c4aa828b6b,1,assignfeedback_editpdf,stamps,0,/,sad.png,2.0,966,image/png,0,None,None,None,1693378389,1693378389,0,NaN
3,4,0c5190a24c3943966541401c883eacaa20ca20cb,695a55ff780e61c9e59428aa425430b0d6bde53b,1,assignfeedback_editpdf,stamps,0,/,tick.png,2.0,1039,image/png,0,None,None,None,1693378389,1693378389,0,NaN
4,5,8c96a486d5801e0f4ab8c411f561f1c687e1f865,373e63af262a9b8466ba8632551520be793c37ff,1,assignfeedback_editpdf,stamps,0,/,cross.png,2.0,861,image/png,0,None,None,None,1693378389,1693378389,0,NaN

Successfully extracted data for table: mdl_files


---> Displaying data for table: mdl_files_reference ---

---> Database Connection Established
Feteched data shape -> rows: 151 columns: 5
---> Database connection closed

,id,repositoryid,lastsync,reference,referencehash
0,4,2,1.742988e+09,YTo2OntzOjk6ImNvbnRleHRpZCI7aTo5MzkwO3M6OToiY2...,898dcf1b74a4599365a9e88e5fd8b31585709c71
1,6,2,1.745134e+09,YTo2OntzOjk6ImNvbnRleHRpZCI7aTo5Mzg4O3M6OToiY2...,6d380f4af8cb67f11fee1fe93edfbcdf5e247340
2,7,2,1.754314e+09,YTo2OntzOjk6ImNvbnRleHRpZCI7aTo5NDE3O3M6OToiY2...,de42cc1e7737d98c77f97e9ba4b657ec98964f9a
3,8,2,1.748634e+09,YTo2OntzOjk6ImNvbnRleHRpZCI7aTo5NDE3O3M6OToiY2...,ca2b3ce2ebae44fccfa0ebf2f33c7d5e46842c2b
4,9,2,1.754315e+09,YTo2OntzOjk6ImNvbnRleHRpZCI7aTo5NDE3O3M6OToiY2...,bdcb8da5a30c5e898f02a67b79ab6a16d78d41dc

Successfully extracted data for table: mdl_files_reference


---> Displaying data for table: mdl_filter_active ---

---> Database Connection Established
Feteched data shape -> rows: 43 columns: 5
---> Database connection closed

   id         filter  contextid  active  sortorder
0   1  activitynames          1       1          2
1   2     displayh5p          1       1          1
2   3       emoticon          1       1          4
3   4  mathjaxloader          1       1          3
4   5    mediaplugin          1       1          6

Successfully extracted data for table: mdl_filter_active


---> Displaying data for table: mdl_flashcard ---

---> Database Connection Established
Feteched data shape -> rows: 5 columns: 33
---> Database connection closed

,id,course,name,intro,introformat,timemodified,starttime,endtime,models,questionid,...,custombackfileid,customfrontfileid,customemptyfileid,customreviewfileid,customreviewedfileid,customreviewemptyfileid,extracss,completionallviewed,completionallgood,remindusers
0,9,12,Tools for reflective questioning,"<div class=""editor-indent"" style=""margin-left:...",1,1698102840,0,0,2,0,...,0,0,0,0,0,0,/* panel div for question */\r\n.flashcard-que...,0,0,0
1,10,15,أدوات لأسئلة التفكير والمراجعة,"<div class=""editor-indent"" style=""margin-left:...",1,1698123924,0,0,2,0,...,0,0,0,0,0,0,/* panel div for question */\r\n.flashcard-que...,0,0,0
2,11,18,ئامڕازەکانی پرسیارکردنی تێڕامانانە,"<div class=""editor-indent"" style=""margin-left:...",1,1700512631,0,0,2,0,...,0,0,0,0,0,0,/* panel div for question */\r\n.flashcard-que...,0,0,0
3,12,34,مواردی مهم برای پرسش‌های انعکاسی,"<div class=""editor-indent"" style=""margin-left:...",1,1699617651,0,0,2,0,...,0,0,0,0,0,0,/* panel div for question */\r\n.flashcard-que...,0,0,0
4,13,38,Legal alternatives to irregular migration,"<p dir=""ltr""><span id=""docs-internal-guid-7769...",1,1705556678,0,0,2,0,...,0,0,0,0,0,0,/* panel div for question */\r\n.flashcard-que...,0,0,0

Successfully extracted data for table: mdl_flashcard


---> Displaying data for table: mdl_flashcard_card ---

---> Database Connection Established
Feteched data shape -> rows: 1728 columns: 7
---> Database connection closed

   id  flashcardid  userid  entryid  deck  lastaccessed  accesscount
0   7            9      11       13     2    1697993503            2
1   8            9      11       14     2    1697204522            1
2   9            9      11       15     2    1697204532            1
3  10            9      11       16     2    1697204516            1
4  11            9      11       17     2    1697204509            1

Successfully extracted data for table: mdl_flashcard_card


---> Displaying data for table: mdl_flashcard_deckdata ---

---> Database Connection Established
Feteched data shape -> rows: 30 columns: 4
---> Database connection closed

,id,flashcardid,questiontext,answertext
0,13,9,Empathic questions,Understand their situation while showing genui...
1,14,9,Clarifying questions,Clear uncertainties or misunderstandings.\r\n\...
2,15,9,Migrant-centred questions,Letting the migrant discover their insights an...
3,16,9,Exploring thoughts &amp; feelings,Understand how mental and emotional states rel...
4,17,9,Exploring possibilities,Prompt migrants to consider various options an...

Successfully extracted data for table: mdl_flashcard_deckdata


---> Displaying data for table: mdl_forum ---

---> Database Connection Established
Feteched data shape -> rows: 5 columns: 29
---> Database connection closed

,id,course,type,name,intro,introformat,duedate,cutoffdate,assessed,assesstimestart,...,rssarticles,timemodified,warnafter,blockafter,blockperiod,completiondiscussions,completionreplies,completionposts,displaywordcount,lockdiscussionafter
0,8,1,news,Site announcements,General news and announcements,1,0,0,0,0,...,0,1694611056,0,0,0,0,0,0,0,0
1,21,15,news,Announcements,General news and announcements,1,0,0,0,0,...,0,1698402493,0,0,0,0,0,0,0,0
2,27,18,news,Announcements,General news and announcements,1,0,0,0,0,...,0,1701095658,0,0,0,0,0,0,0,0
3,31,38,news,Announcements,General news and announcements,1,0,0,0,0,...,0,1703051115,0,0,0,0,0,0,0,0
4,42,48,news,Announcements,General news and announcements,1,0,0,0,0,...,0,1765178096,0,0,0,0,0,0,0,0

Successfully extracted data for table: mdl_forum


---> Displaying data for table: mdl_glossary_formats ---

---> Database Connection Established
Feteched data shape -> rows: 7 columns: 10
---> Database connection closed

,id,name,popupformatname,visible,showgroup,showtabs,defaultmode,defaulthook,sortkey,sortorder
0,1,continuous,continuous,1,1,"standard,category,date",,,,
1,2,dictionary,dictionary,1,1,standard,,,,
2,3,encyclopedia,encyclopedia,1,1,"standard,category,date,author",,,,
3,4,entrylist,entrylist,1,1,"standard,category,date,author",,,,
4,5,faq,faq,1,1,"standard,category,date,author",,,,

Successfully extracted data for table: mdl_glossary_formats


---> Displaying data for table: mdl_grade_categories ---

---> Database Connection Established
Feteched data shape -> rows: 30 columns: 14
---> Database connection closed

,id,courseid,parent,depth,path,fullname,aggregation,keephigh,droplow,aggregateonlygraded,aggregateoutcomes,timecreated,timemodified,hidden
0,4,1,None,1,/4/,?,13,0,0,1,0,1693556859,1693556859,0
1,11,12,None,1,/11/,?,13,0,0,1,0,1696535486,1696535486,0
2,12,10,None,1,/12/,?,13,0,0,1,0,1696927453,1696927453,0
3,14,13,None,1,/14/,?,13,0,0,1,0,1696927453,1696927453,0
4,15,14,None,1,/15/,?,13,0,0,1,0,1696491476,1696491477,0

Successfully extracted data for table: mdl_grade_categories


---> Displaying data for table: mdl_grade_categories_history ---

---> Database Connection Established
Feteched data shape -> rows: 133 columns: 18
---> Database connection closed

,id,action,oldid,source,timemodified,loggeduser,courseid,parent,depth,path,fullname,aggregation,keephigh,droplow,aggregateonlygraded,aggregateoutcomes,aggregatesubcats,hidden
0,1,1,1,system,1693451590,2,2,None,0,None,?,13,0,0,1,0,0,0
1,2,2,1,system,1693451590,2,2,None,1,/1/,?,13,0,0,1,0,0,0
2,3,1,2,system,1693458568,2,4,None,0,None,?,13,0,0,1,0,0,0
3,4,2,2,system,1693458568,2,4,None,1,/2/,?,13,0,0,1,0,0,0
4,5,3,2,coursedelete,1693458568,2,4,None,1,/2/,?,13,0,0,1,0,0,0

Successfully extracted data for table: mdl_grade_categories_history


---> Displaying data for table: mdl_grade_grades ---

---> Database Connection Established
Feteched data shape -> rows: 12200 columns: 23
---> Database connection closed

,id,itemid,userid,rawgrade,rawgrademax,rawgrademin,rawscaleid,usermodified,finalgrade,hidden,...,overridden,excluded,feedback,feedbackformat,information,informationformat,timecreated,timemodified,aggregationstatus,aggregationweight
0,34,56,11,NaN,10.0,0.0,NaN,11.0,NaN,0,...,0,0,None,2,None,2,NaN,NaN,novalue,0.0
1,35,42,11,NaN,100.0,0.0,NaN,NaN,NaN,0,...,0,0,None,2,None,2,NaN,NaN,unknown,NaN
2,36,43,11,NaN,10.0,0.0,NaN,NaN,NaN,0,...,0,0,None,2,None,2,NaN,NaN,novalue,0.0
3,37,44,11,NaN,10.0,0.0,NaN,NaN,NaN,0,...,0,0,None,2,None,2,NaN,NaN,novalue,0.0
4,38,52,11,NaN,10.0,0.0,NaN,NaN,NaN,0,...,0,0,None,2,None,2,NaN,NaN,novalue,0.0

Successfully extracted data for table: mdl_grade_grades


---> Displaying data for table: mdl_grade_grades_history ---

---> Database Connection Established
Feteched data shape -> rows: 25945 columns: 24
---> Database connection closed

,id,action,oldid,source,timemodified,loggeduser,itemid,userid,rawgrade,rawgrademax,...,hidden,locked,locktime,exported,overridden,excluded,feedback,feedbackformat,information,informationformat
0,1,1,1,mod/quiz,1693454277,2,2,2,NaN,10.0,...,0,0,0,0,0,0,None,2,None,2
1,2,1,2,system,1693454278,2,1,2,NaN,100.0,...,0,0,0,0,0,0,None,2,None,2
2,3,1,3,system,1693461181,2,5,2,NaN,100.0,...,0,0,0,0,0,0,None,2,None,2
3,4,2,3,mod/assign,1693812933,2,5,2,NaN,100.0,...,0,0,0,0,0,0,None,2,None,2
4,5,1,4,mod/assign,1693813009,3,5,3,NaN,100.0,...,0,0,0,0,0,0,None,2,None,2

Successfully extracted data for table: mdl_grade_grades_history


---> Displaying data for table: mdl_grade_items ---

---> Database Connection Established
Feteched data shape -> rows: 333 columns: 31
---> Database connection closed

,id,courseid,categoryid,itemname,itemtype,itemmodule,iteminstance,itemnumber,iteminfo,idnumber,...,sortorder,display,decimals,hidden,locked,locktime,needsupdate,weightoverride,timecreated,timemodified
0,6,1,NaN,None,course,None,4,NaN,None,None,...,1,0,None,0,0,0,0,0,1693556859,1693556859
1,42,12,NaN,None,course,None,11,NaN,None,None,...,1,0,None,0,0,0,0,0,1696535486,1697990461
2,43,12,11.0,Initial Survey,mod,quiz,31,0.0,None,,...,2,0,None,1,0,0,0,0,1696539604,1725269136
3,44,12,11.0,Quiz,mod,quiz,32,0.0,None,,...,9,0,None,0,0,0,0,0,1696544528,1697990460
4,52,12,11.0,Test your knowledge!,mod,quiz,40,0.0,None,,...,10,0,None,0,0,0,0,0,1696596946,1697990461

Successfully extracted data for table: mdl_grade_items


---> Displaying data for table: mdl_grade_items_history ---

---> Database Connection Established
Feteched data shape -> rows: 3688 columns: 34
---> Database connection closed

,id,action,oldid,source,timemodified,loggeduser,courseid,categoryid,itemname,itemtype,...,aggregationcoef,aggregationcoef2,sortorder,hidden,locked,locktime,needsupdate,display,decimals,weightoverride
0,1,1,1,system,1693451590,2,2,NaN,None,course,...,0.0,0.0,1,0,0,0,1,0,None,0
1,2,2,1,aggregation,1693451788,2,2,NaN,None,course,...,0.0,0.0,1,0,0,0,1,0,None,0
2,3,1,2,None,1693451788,2,2,1.0,Test Quiz,mod,...,0.0,0.0,2,0,0,0,1,0,None,0
3,4,2,2,None,1693451788,2,2,1.0,Test Quiz,mod,...,0.0,1.0,2,0,0,0,1,0,None,0
4,5,2,1,aggregation,1693451788,2,2,NaN,None,course,...,0.0,0.0,1,0,0,0,1,0,None,0

Successfully extracted data for table: mdl_grade_items_history


---> Displaying data for table: mdl_grade_settings ---

---> Database Connection Established
Feteched data shape -> rows: 22 columns: 4
---> Database connection closed

   id  courseid         name value
0   1        13  minmaxtouse     1
1   2        14  minmaxtouse     1
2   3        16  minmaxtouse     1
3   4        17  minmaxtouse     1
4   6        22  minmaxtouse     1

Successfully extracted data for table: mdl_grade_settings


---> Displaying data for table: mdl_grading_areas ---

---> Database Connection Established
Feteched data shape -> rows: 4 columns: 5
---> Database connection closed

   id  contextid   component     areaname activemethod
0   4        354  mod_assign  submissions         None
1   5        561  mod_assign  submissions         None
2   6        725  mod_assign  submissions         None
3   7       1410  mod_assign  submissions         None

Successfully extracted data for table: mdl_grading_areas


---> Displaying data for table: mdl_h5p ---

---> Database Connection Established
Feteched data shape -> rows: 360 columns: 9
---> Database connection closed

,id,jsoncontent,mainlibraryid,displayoptions,pathnamehash,contenthash,filtered,timecreated,timemodified
0,20,"{""params"":{""panels"":[{""content"":{""params"":{""te...",2,NaN,4925ebf6aa7c9cf8561420f800b8c1c0ab8ec75f,e32ab6c126408a75ebed3f58f7fecf4a57c4fba7,"{""panels"":[{""content"":{""params"":{""text"":""<p di...",1746526199,1754314165
1,21,"{""panels"":[{""content"":{""params"":{""text"":""<p di...",2,15.0,db7c6a4c92703eab7aaf9f19449d18bccc171f77,5ee1d3c22ad55c66c9076ca9cbdf391bfa0f5b10,"{""panels"":[{""content"":{""params"":{""text"":""<p di...",1746526405,1746526405
2,23,"{""params"":{""presentation"":{""slides"":[{""element...",21,NaN,fed5a806a62824e059ebe3d640a792e8c4821587,f38fb120f5b7b4d0f77dd0fcb7821ff68152495e,"{""presentation"":{""slides"":[{""elements"":[{""x"":2...",1746551296,1746553742
3,26,"{""params"":{""presentation"":{""slides"":[{""element...",21,NaN,0aedb33ec5f44b4a421fd51240d2cffc66a8c4c4,bd9a219631b9a077fe9ca83ab5d3d01e7d1b402f,"{""presentation"":{""slides"":[{""elements"":[{""x"":5...",1746698527,1754409902
4,27,"{""params"":{""media"":{""disableImageZooming"":fals...",66,NaN,9b0eda51115bc6b206167073fd126defb3a23c40,ddebf9131db32f69251ef0cbc5e5ca93194fc610,"{""media"":{""disableImageZooming"":false},""answer...",1747207742,1748634033

Successfully extracted data for table: mdl_h5p


---> Displaying data for table: mdl_h5p_contents_libraries ---

---> Database Connection Established
Feteched data shape -> rows: 8913 columns: 6
---> Database connection closed

     id  h5pid  libraryid dependencytype  dropcss  weight
0  1285     21          3      preloaded        0       1
1  1286     21          2      preloaded        0       3
2  1287     21          1      preloaded        0       2
3  1502     23          3      preloaded        0       1
4  1503     23         66      preloaded        0      10

Successfully extracted data for table: mdl_h5p_contents_libraries


---> Displaying data for table: mdl_h5p_libraries ---

---> Database Connection Established
Feteched data shape -> rows: 153 columns: 20
---> Database connection closed

,id,machinename,title,majorversion,minorversion,patchversion,runnable,fullscreen,embedtypes,preloadedjs,preloadedcss,droplibrarycss,semantics,addto,coremajor,coreminor,metadatasettings,tutorial,example,enabled
0,1,FontAwesome,Font Awesome,4,5,4,0,0,,,h5p-font-awesome.min.css,,,None,NaN,NaN,None,None,None,1
1,2,H5P.Accordion,Accordion,1,0,33,1,0,iframe,h5p-accordion.js,h5p-accordion.css,,"[\n {\n ""name"": ""panels"",\n ""type"": ""li...",None,1.0,5.0,None,https://h5p.org/tutorial-accordion,https://h5p.org/accordion,1
2,3,H5P.AdvancedText,Text,1,1,14,0,0,,text.js,text.css,,"[\n {\n ""name"": ""text"",\n ""type"": ""text...",None,NaN,NaN,"{""disable"":false,""disableExtraTitleField"":true}",None,None,1
3,4,H5P.ArithmeticQuiz,Arithmetic Quiz,1,1,25,1,0,iframe,"js/algebra.min.js, js/arithmetic-quiz.js, js/s...","css/arithmetic-quiz.css, css/odometer-theme-de...",,"[\n {\n ""name"": ""intro"",\n ""type"": ""tex...",None,NaN,NaN,None,https://h5p.org/tutorial-arithmetic-quiz,https://h5p.org/arithmetic-quiz,1
4,5,H5PEditor.ShowWhen,Toggle visibility of a field based on rules,1,0,9,0,0,,h5p-show-when.js,h5p-show-when.css,,,None,NaN,NaN,None,None,None,1

Successfully extracted data for table: mdl_h5p_libraries


---> Displaying data for table: mdl_h5p_libraries_cachedassets ---

---> Database Connection Established
Feteched data shape -> rows: 425 columns: 3
---> Database connection closed

   id  libraryid                                      hash
0  14          1  749610e9dc64a8676a64fdfe8d1d14e5a17a36f4
1  15          6  749610e9dc64a8676a64fdfe8d1d14e5a17a36f4
2  16          9  749610e9dc64a8676a64fdfe8d1d14e5a17a36f4
3  17          7  749610e9dc64a8676a64fdfe8d1d14e5a17a36f4
4  18         70  749610e9dc64a8676a64fdfe8d1d14e5a17a36f4

Successfully extracted data for table: mdl_h5p_libraries_cachedassets


---> Displaying data for table: mdl_h5p_library_dependencies ---

---> Database Connection Established
Feteched data shape -> rows: 412 columns: 4
---> Database connection closed

   id  libraryid  requiredlibraryid dependencytype
0   1          2                  1      preloaded
1   9         11                 12         editor
2  23         21                  1      preloaded
3  24         21                  7      preloaded
4  25         21                  6      preloaded

Successfully extracted data for table: mdl_h5p_library_dependencies


---> Displaying data for table: mdl_label ---

---> Database Connection Established
Feteched data shape -> rows: 491 columns: 6
---> Database connection closed

,id,course,name,intro,introformat,timemodified
0,4,10,Lets discover your existing knowledge!Before e...,"<p dir=""ltr"" style=""text-align: left;""><b id=""...",1,1699271643
1,5,10,Welcome to Module 1! This module will focus on...,"<br><strong style=""font-size: 0.875rem;"">Welco...",1,1697800419
2,6,10,The reasons for migrating from your home count...,"<div class=""editor-indent"" style=""margin-left:...",1,1699271814
3,7,10,"Before and during your migration journey, you ...","<h3 style=""text-align: left;""></h3><span style...",1,1697805469
4,11,10,Do you know what to expect during different pa...,"<h3 style=""text-align: left;""></h3><span style...",1,1697806258

Successfully extracted data for table: mdl_label


---> Displaying data for table: mdl_license ---

---> Database Connection Established
Feteched data shape -> rows: 9 columns: 8
---> Database connection closed

,id,shortname,fullname,source,enabled,version,custom,sortorder
0,1,unknown,Licence not specified,,1,2010033100,0,1
1,2,allrightsreserved,All rights reserved,https://en.wikipedia.org/wiki/All_rights_reserved,1,2010033100,0,2
2,3,public,Public domain,https://en.wikipedia.org/wiki/Public_domain,1,2010033100,0,3
3,4,cc,Creative Commons,https://creativecommons.org/licenses/by/3.0/,1,2010033100,0,4
4,5,cc-nd,Creative Commons - NoDerivs,https://creativecommons.org/licenses/by-nd/3.0/,1,2010033100,0,5

Successfully extracted data for table: mdl_license


---> Displaying data for table: mdl_local_profilecohort ---

---> Database Connection Established
Feteched data shape -> rows: 5 columns: 7
---> Database connection closed

   id  fieldid    matchtype   matchvalue value  sortorder  andnextrule
0   1        2         None        Earth     2          1            0
1   2        2         None         Mars     3          2            0
2   3        3  !!defined!!         None     2          2            0
3   4        3         None        Other     3          1            0
4   5        4         None  Bangladeshi     4          3            0

Successfully extracted data for table: mdl_local_profilecohort


---> Displaying data for table: mdl_log_display ---

---> Database Connection Established
Feteched data shape -> rows: 205 columns: 6
---> Database connection closed

,id,module,action,mtable,field,component
0,1,course,user report,user,"CONCAT(firstname, ' ', lastname)",moodle
1,2,course,view,course,fullname,moodle
2,3,course,view section,course_sections,name,moodle
3,4,course,update,course,fullname,moodle
4,5,course,hide,course,fullname,moodle

Successfully extracted data for table: mdl_log_display


---> Displaying data for table: mdl_logstore_standard_log ---

---> Database Connection Established
Feteched data shape -> rows: 1551660 columns: 21
---> Database connection closed

,id,eventname,component,action,target,objecttable,objectid,crud,edulevel,contextid,...,contextinstanceid,userid,courseid,relateduserid,anonymous,other,timecreated,origin,ip,realuserid
0,1,\core\event\course_viewed,core,viewed,course,None,NaN,r,2,2,...,1,0,1,NaN,0,null,1693378464,web,172.18.0.2,NaN
1,2,\core\event\user_loggedin,core,loggedin,user,user,2.0,r,0,1,...,0,2,0,NaN,0,"{""username"":""admin"",""extrauserinfo"":[]}",1693378494,web,172.18.0.2,NaN
2,3,\core\event\dashboard_viewed,core,viewed,dashboard,None,NaN,r,0,5,...,2,2,0,2.0,0,null,1693378494,web,172.18.0.2,NaN
3,4,\tool_usertours\event\tour_started,tool_usertours,started,tour,tool_usertours_tours,4.0,r,2,5,...,2,2,0,2.0,0,"{""pageurl"":""https:\/\/pathways.seefaracademy.o...",1693378496,web,172.18.0.2,NaN
4,5,\core\event\user_loggedout,core,loggedout,user,user,2.0,r,0,1,...,0,2,0,NaN,0,"{""sessionid"":""89df4vqir17tnuf7j26ka8uofn""}",1693378503,web,172.18.0.2,NaN

Successfully extracted data for table: mdl_logstore_standard_log


---> Displaying data for table: mdl_message_contact_requests ---

---> Database Connection Established
Feteched data shape -> rows: 2 columns: 4
---> Database connection closed

   id  userid  requesteduserid  timecreated
0   1     641               34   1705611994
1   4    1814               10   1747597582

Successfully extracted data for table: mdl_message_contact_requests


---> Displaying data for table: mdl_message_conversation_members ---

---> Database Connection Established
Feteched data shape -> rows: 831 columns: 4
---> Database connection closed

   id  conversationid  userid  timecreated
0   1               1       6   1695630603
1   2               2       2   1696244984
2   3               3      14   1696686640
3   4               4       8   1698651040
4   5               5      26   1698762778

Successfully extracted data for table: mdl_message_conversation_members


---> Displaying data for table: mdl_message_conversations ---

---> Database Connection Established
Feteched data shape -> rows: 558 columns: 11
---> Database connection closed

,id,type,name,convhash,component,itemtype,itemid,contextid,enabled,timecreated,timemodified
0,1,3,None,c1dfd96eea8cc2b62785275bca38ac261256e278,None,None,None,None,1,1695630603,1695630603
1,2,3,None,da4b9237bacccdf19c0760cab7aec4a8359010b0,None,None,None,None,1,1696244984,1696244984
2,3,3,None,fa35e192121eabf3dabf9f5ea6abdbcbc107ac3b,None,None,None,None,1,1696686640,1696686640
3,4,3,None,fe5dbbcea5ce7e2988b8c69bcfdfde8904aabc1f,None,None,None,None,1,1698651040,1698651040
4,5,3,None,887309d048beef83ad3eabf2a79a64a389ab1c9f,None,None,None,None,1,1698762778,1698762778

Successfully extracted data for table: mdl_message_conversations


---> Displaying data for table: mdl_message_popup_notifications ---

---> Database Connection Established
Feteched data shape -> rows: 4 columns: 2
---> Database connection closed

    id  notificationid
0  210            6026
1  211            6027
2  212            6032
3  213            6042

Successfully extracted data for table: mdl_message_popup_notifications


---> Displaying data for table: mdl_message_processors ---

---> Database Connection Established
Feteched data shape -> rows: 3 columns: 3
---> Database connection closed

   id         name  enabled
0   1  airnotifier        1
1   2        email        1
2   3        popup        1

Successfully extracted data for table: mdl_message_processors


---> Displaying data for table: mdl_message_providers ---

---> Database Connection Established
Feteched data shape -> rows: 48 columns: 4
---> Database connection closed

   id             name component          capability
0   1         newlogin    moodle                None
1   2          notices    moodle  moodle/site:config
2   3           errors    moodle  moodle/site:config
3   4  availableupdate    moodle  moodle/site:config
4   5   instantmessage    moodle                None

Successfully extracted data for table: mdl_message_providers


---> Displaying data for table: mdl_message_user_actions ---

---> Database Connection Established
Feteched data shape -> rows: 24 columns: 5
---> Database connection closed

   id  userid  messageid  action  timecreated
0   1    1794        287       1   1719920152
1   2     348         98       1   1721725918
2   3     348        217       1   1721725918
3   4     348        361       1   1721726157
4   5      66        325       1   1721757620

Successfully extracted data for table: mdl_message_user_actions


---> Displaying data for table: mdl_messageinbound_handlers ---

---> Database Connection Established
Feteched data shape -> rows: 3 columns: 6
---> Database connection closed

,id,component,classname,defaultexpiration,validateaddress,enabled
0,1,core,\core\message\inbound\private_files_handler,0,1,0
1,2,mod_forum,\mod_forum\message\inbound\reply_handler,604800,1,0
2,3,tool_messageinbound,\tool_messageinbound\message\inbound\invalid_r...,604800,0,1

Successfully extracted data for table: mdl_messageinbound_handlers


---> Displaying data for table: mdl_messages ---

---> Database Connection Established
Feteched data shape -> rows: 462 columns: 11
---> Database connection closed

,id,useridfrom,conversationid,subject,fullmessage,fullmessageformat,fullmessagehtml,smallmessage,timecreated,fullmessagetrust,customdata
0,1,197,16,None,Hi,0,,Hi,1702307308,0,"{""actionbuttons"":{""send"":""\u0628\u06be\u06cc\u..."
1,2,278,23,None,"Good day, I have completed the course, when do...",0,,"Good day, I have completed the course, when do...",1703938451,0,"{""actionbuttons"":{""send"":""Send""},""placeholders..."
2,3,349,29,None,I'm interested in the courses available on thi...,0,,I'm interested in the courses available on thi...,1704269517,0,"{""actionbuttons"":{""send"":""Send""},""placeholders..."
3,4,421,42,None,می‌خوانم مشاوره در مورد برنامه های مهاجرت را ب...,0,,می‌خوانم مشاوره در مورد برنامه های مهاجرت را ب...,1704438322,0,"{""actionbuttons"":{""send"":""\u0627\u0631\u0633\u..."
4,5,428,44,None,God help me out,0,,God help me out,1704452356,0,"{""actionbuttons"":{""send"":""Send""},""placeholders..."

Successfully extracted data for table: mdl_messages


---> Displaying data for table: mdl_mnet_application ---

---> Database Connection Established
Feteched data shape -> rows: 2 columns: 6
---> Database connection closed

,id,name,display_name,xmlrpc_server_url,sso_land_url,sso_jump_url
0,1,moodle,Moodle,/mnet/xmlrpc/server.php,/auth/mnet/land.php,/auth/mnet/jump.php
1,2,mahara,Mahara,/api/xmlrpc/server.php,/auth/xmlrpc/land.php,/auth/xmlrpc/jump.php

Successfully extracted data for table: mdl_mnet_application


---> Displaying data for table: mdl_mnet_host ---

---> Database Connection Established
Feteched data shape -> rows: 2 columns: 15
---> Database connection closed

,id,deleted,wwwroot,ip_address,name,public_key,public_key_expires,transport,portno,last_connect_time,last_log_id,force_theme,theme,applicationid,sslverification
0,1,0,http://localhost:8080,127.0.0.1,,,0,0,0,0,0,0,None,1,0
1,2,0,,,All Hosts,,0,0,0,0,0,0,None,1,0

Successfully extracted data for table: mdl_mnet_host


---> Displaying data for table: mdl_mnet_remote_rpc ---

---> Database Connection Established
Feteched data shape -> rows: 16 columns: 6
---> Database connection closed

,id,functionname,xmlrpcpath,plugintype,pluginname,enabled
0,1,user_authorise,auth/mnet/auth.php/user_authorise,auth,mnet,1
1,2,keepalive_server,auth/mnet/auth.php/keepalive_server,auth,mnet,1
2,3,kill_children,auth/mnet/auth.php/kill_children,auth,mnet,1
3,4,refresh_log,auth/mnet/auth.php/refresh_log,auth,mnet,1
4,5,fetch_user_image,auth/mnet/auth.php/fetch_user_image,auth,mnet,1

Successfully extracted data for table: mdl_mnet_remote_rpc


---> Displaying data for table: mdl_mnet_remote_service2rpc ---

---> Database Connection Established
Feteched data shape -> rows: 16 columns: 3
---> Database connection closed

   id  serviceid  rpcid
0   1          1      1
1   2          1      2
2   3          1      3
3   4          1      4
4   5          1      5

Successfully extracted data for table: mdl_mnet_remote_service2rpc


---> Displaying data for table: mdl_mnet_rpc ---

---> Database Connection Established
Feteched data shape -> rows: 15 columns: 11
---> Database connection closed

,id,functionname,xmlrpcpath,plugintype,pluginname,enabled,help,profile,filename,classname,static
0,1,user_authorise,auth/mnet/auth.php/user_authorise,auth,mnet,1,"Return user data for the provided token, compa...","a:2:{s:10:""parameters"";a:2:{i:0;a:3:{s:4:""name...",auth.php,auth_plugin_mnet,0
1,2,keepalive_server,auth/mnet/auth.php/keepalive_server,auth,mnet,1,Receives an array of usernames from a remote m...,"a:2:{s:10:""parameters"";a:1:{i:0;a:3:{s:4:""name...",auth.php,auth_plugin_mnet,0
2,3,kill_children,auth/mnet/auth.php/kill_children,auth,mnet,1,The IdP uses this function to kill child sessi...,"a:2:{s:10:""parameters"";a:2:{i:0;a:3:{s:4:""name...",auth.php,auth_plugin_mnet,0
3,4,refresh_log,auth/mnet/auth.php/refresh_log,auth,mnet,1,Receives an array of log entries from an SP an...,"a:2:{s:10:""parameters"";a:1:{i:0;a:3:{s:4:""name...",auth.php,auth_plugin_mnet,0
4,5,fetch_user_image,auth/mnet/auth.php/fetch_user_image,auth,mnet,1,Returns the user's profile image info\nIf the ...,"a:2:{s:10:""parameters"";a:1:{i:0;a:3:{s:4:""name...",auth.php,auth_plugin_mnet,0

Successfully extracted data for table: mdl_mnet_rpc


---> Displaying data for table: mdl_mnet_service ---

---> Database Connection Established
Feteched data shape -> rows: 4 columns: 5
---> Database connection closed

   id        name description apiversion  offer
0   1     sso_idp                      1      1
1   2      sso_sp                      1      1
2   3  mnet_enrol                      1      1
3   4          pf                      1      1

Successfully extracted data for table: mdl_mnet_service


---> Displaying data for table: mdl_mnet_service2rpc ---

---> Database Connection Established
Feteched data shape -> rows: 15 columns: 3
---> Database connection closed

   id  serviceid  rpcid
0   1          1      1
1   2          1      2
2   3          1      3
3   4          1      4
4   5          1      5

Successfully extracted data for table: mdl_mnet_service2rpc


---> Displaying data for table: mdl_modules ---

---> Database Connection Established
Feteched data shape -> rows: 26 columns: 6
---> Database connection closed

   id             name  cron  lastcron search  visible
0   1           assign     0         0               1
1   2  bigbluebuttonbn     0         0               0
2   3             book     0         0               1
3   4             chat     0         0               1
4   5           choice     0         0               1

Successfully extracted data for table: mdl_modules


---> Displaying data for table: mdl_my_pages ---

---> Database Connection Established
Feteched data shape -> rows: 1145 columns: 5
---> Database connection closed

   id  userid       name  private  sortorder
0   1     NaN  __default        0          0
1   2     NaN  __default        1          0
2   3     NaN  __courses        0          0
3   6     2.0  __default        0          0
4   7     3.0  __default        0          0

Successfully extracted data for table: mdl_my_pages


---> Displaying data for table: mdl_notifications ---

---> Database Connection Established
Feteched data shape -> rows: 71 columns: 15
---> Database connection closed

,id,useridfrom,useridto,subject,fullmessage,fullmessageformat,fullmessagehtml,smallmessage,component,eventtype,contexturl,contexturlname,timeread,timecreated,customdata
0,5998,-10,2799,New sign in to your Seefar Academy account,"Hi Carissa Lamarche,\n\nYour Seefar Academy ac...",1,"<p>Hi Carissa Lamarche,</p>\n<p>Your Seefar Ac...",Your carissa5640094 account was just signed in...,moodle,newlogin,None,None,None,1767309399,"{""notificationiconurl"":""http:\/\/seefaracademy..."
1,5999,-10,2799,New sign in to your Seefar Academy account,"Hi Carissa Lamarche,\n\nYour Seefar Academy ac...",1,"<p>Hi Carissa Lamarche,</p>\n<p>Your Seefar Ac...",Your carissa5640094 account was just signed in...,moodle,newlogin,None,None,None,1767311275,"{""notificationiconurl"":""http:\/\/seefaracademy..."
2,6000,-10,2676,New sign in to your Seefar Academy account,"Hi Mohammad Salem,\n\nYour Seefar Academy acco...",1,"<p>Hi Mohammad Salem,</p>\n<p>Your Seefar Acad...",Your salem account was just signed in to from ...,moodle,newlogin,None,None,None,1767402065,"{""notificationiconurl"":""http:\/\/seefaracademy..."
3,6001,-10,2808,New sign in to your Seefar Academy account,"Hi Paulina Coverdale,\n\nYour Seefar Academy a...",1,"<p>Hi Paulina Coverdale,</p>\n<p>Your Seefar A...",Your paulinacoverda account was just signed in...,moodle,newlogin,None,None,None,1767514678,"{""notificationiconurl"":""http:\/\/seefaracademy..."
4,6002,-10,2808,New sign in to your Seefar Academy account,"Hi Paulina Coverdale,\n\nYour Seefar Academy a...",1,"<p>Hi Paulina Coverdale,</p>\n<p>Your Seefar A...",Your paulinacoverda account was just signed in...,moodle,newlogin,None,None,None,1767514776,"{""notificationiconurl"":""http:\/\/seefaracademy..."

Successfully extracted data for table: mdl_notifications


---> Displaying data for table: mdl_oauth2_endpoint ---

---> Database Connection Established
Feteched data shape -> rows: 12 columns: 7
---> Database connection closed

,id,timecreated,timemodified,usermodified,name,url,issuerid
0,3,1694742171,1694757908,2,authorization_endpoint,https://sso.seefar.org/oauth/authorize,1
1,4,1694742192,1694757922,2,token_endpoint,https://sso.seefar.org/oauth2/token,1
2,5,1694742337,1694757936,2,userinfo_endpoint,https://sso.seefar.org/oauth2/me,1
3,6,1696813438,1696813438,2,authorization_endpoint,https://www.facebook.com/v2.12/dialog/oauth,2
4,7,1696813438,1696813438,2,token_endpoint,https://graph.facebook.com/v2.12/oauth/access_...,2

Successfully extracted data for table: mdl_oauth2_endpoint


---> Displaying data for table: mdl_oauth2_issuer ---

---> Database Connection Established
Feteched data shape -> rows: 3 columns: 22
---> Database connection closed

,id,timecreated,timemodified,usermodified,name,image,baseurl,clientid,clientsecret,loginscopes,...,loginparamsoffline,alloweddomains,scopessupported,enabled,showonloginpage,basicauth,sortorder,requireconfirmation,servicetype,loginpagename
0,1,1694740253,1708432764,37,SSO.ID,,https://sso.seefar.org,BSSOmMKvOHLCotiEeOqWT,rYxIAlItDdFGXomVCjau,profile email,...,,,None,1,2,0,0,0,,
1,2,1696813438,1708432770,37,Facebook,https://facebookbrand.com/wp-content/uploads/2...,,230004913386752,ad85bc5583644e3368b44fdb26479ff1,public_profile email,...,,,None,1,2,0,1,0,facebook,
2,5,1699233871,1708432777,37,Google,https://accounts.google.com/favicon.ico,https://accounts.google.com/,614502670497-v7l1er3ibcfatdirjn2vigmpl6a5ne46....,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,openid profile email,...,access_type=offline&prompt=consent,,openid email profile,1,2,0,2,0,google,

Successfully extracted data for table: mdl_oauth2_issuer


---> Displaying data for table: mdl_oauth2_user_field_mapping ---

---> Database Connection Established
Feteched data shape -> rows: 35 columns: 7
---> Database connection closed

,id,timemodified,timecreated,usermodified,issuerid,externalfield,internalfield
0,1,1696813438,1696813438,2,2,name,alternatename
1,2,1696813438,1696813438,2,2,last_name,lastname
2,3,1696813438,1696813438,2,2,email,email
3,4,1696813438,1696813438,2,2,first_name,firstname
4,5,1696813438,1696813438,2,2,picture-data-url,picture

Successfully extracted data for table: mdl_oauth2_user_field_mapping


---> Displaying data for table: mdl_page ---

---> Database Connection Established
Feteched data shape -> rows: 126 columns: 13
---> Database connection closed

,id,course,name,intro,introformat,content,contentformat,legacyfiles,legacyfileslast,display,displayoptions,revision,timemodified
0,23,38,Introduction,,1,"<p><img src=""@@PLUGINFILE@@/intro%201.jpg"" alt...",1,0,None,5,"a:2:{s:10:""printintro"";s:1:""0"";s:17:""printlast...",4,1702536686
1,24,38,Understand the causes and impact of irregular ...,,1,"<p dir=""ltr"" style=""text-align: left;""></p><p ...",1,0,None,5,"a:2:{s:10:""printintro"";s:1:""0"";s:17:""printlast...",5,1705556113
2,25,38,Motivations and pressures: Why do young Nigeri...,,1,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,0,None,5,"a:2:{s:10:""printintro"";s:1:""0"";s:17:""printlast...",4,1705556150
3,26,38,Overview of irregular migration : Definition o...,,1,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,0,None,5,"a:2:{s:10:""printintro"";s:1:""0"";s:17:""printlast...",5,1705556217
4,27,38,Risks of irregular migration for young Nigerians,,1,"<p dir=""ltr"" style=""text-align: left;""><span i...",1,0,None,5,"a:2:{s:10:""printintro"";s:1:""0"";s:17:""printlast...",4,1705556296

Successfully extracted data for table: mdl_page


---> Displaying data for table: mdl_qtype_ddmatch_options ---

---> Database Connection Established
Feteched data shape -> rows: 83 columns: 10
---> Database connection closed

,id,questionid,shuffleanswers,correctfeedback,correctfeedbackformat,partiallycorrectfeedback,partiallycorrectfeedbackformat,incorrectfeedback,incorrectfeedbackformat,shownumcorrect
0,2,246,1,,1,,1,,1,1
1,3,247,1,,1,,1,,1,1
2,4,262,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
3,5,263,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
4,6,264,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1

Successfully extracted data for table: mdl_qtype_ddmatch_options


---> Displaying data for table: mdl_qtype_ddmatch_subquestions ---

---> Database Connection Established
Feteched data shape -> rows: 329 columns: 6
---> Database connection closed

,id,questionid,questiontext,questiontextformat,answertext,answertextformat
0,4,246,"<p dir=""ltr"" style=""text-align: left;"">Pushbac...",1,"<p dir=""ltr"" style=""text-align: left;"">Prevent...",1
1,5,246,"<p dir=""ltr"" style=""text-align: left;"">Asylum-...",1,"<p dir=""ltr"" style=""text-align: left;"">A perso...",1
2,6,246,"<p dir=""ltr"" style=""text-align: left;"">Deporta...",1,"<p dir=""ltr"" style=""text-align: left;"">Forcing...",1
3,7,246,"<p dir=""ltr"" style=""text-align: left;"">Traffic...",1,"<p dir=""ltr"" style=""text-align: left;"">Recruit...",1
4,8,246,"<p dir=""ltr"" style=""text-align: left;"">Refugee...",1,"<p dir=""ltr"" style=""text-align: left;"">A perso...",1

Successfully extracted data for table: mdl_qtype_ddmatch_subquestions


---> Displaying data for table: mdl_qtype_match_options ---

---> Database Connection Established
Feteched data shape -> rows: 253 columns: 10
---> Database connection closed

,id,questionid,shuffleanswers,correctfeedback,correctfeedbackformat,partiallycorrectfeedback,partiallycorrectfeedbackformat,incorrectfeedback,incorrectfeedbackformat,shownumcorrect
0,2,48,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
1,3,49,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
2,4,58,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
3,7,118,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
4,8,119,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1

Successfully extracted data for table: mdl_qtype_match_options


---> Displaying data for table: mdl_qtype_match_subquestions ---

---> Database Connection Established
Feteched data shape -> rows: 1054 columns: 5
---> Database connection closed

,id,questionid,questiontext,questiontextformat,answertext
0,8,48,"<p dir=""ltr"" style=""text-align: left;"">Pushbac...",1,Preventing migrants from continuing their jour...
1,9,48,"<p dir=""ltr"" style=""text-align: left;""><span i...",1,A person who has left their country and is see...
2,10,48,"<p dir=""ltr"" style=""text-align: left;""><span i...",1,"Forcing someone to leave a country, conducted ..."
3,11,48,"<p dir=""ltr"" style=""text-align: left;""><span i...",1,"Recruitment, transportation, transfer, harbour..."
4,12,48,"<p dir=""ltr"" style=""text-align: left;""><span s...",1,Refugee

Successfully extracted data for table: mdl_qtype_match_subquestions


---> Displaying data for table: mdl_qtype_multichoice_options ---

---> Database Connection Established
Feteched data shape -> rows: 3525 columns: 14
---> Database connection closed

,id,questionid,layout,single,shuffleanswers,correctfeedback,correctfeedbackformat,partiallycorrectfeedback,partiallycorrectfeedbackformat,incorrectfeedback,incorrectfeedbackformat,answernumbering,shownumcorrect,showstandardinstruction
0,8,10,0,0,0,Your answer is correct.,1,There is more than one correct response. Your ...,1,Your answer is incorrect.,1,ABCD,1,0
1,9,11,0,1,0,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,ABCD,1,1
2,10,12,0,0,0,Your answer is correct.,1,There is more than one correct response. Your ...,1,Your answer is incorrect.,1,ABCD,1,0
3,11,13,0,1,0,Your answer is correct.,1,There is more than one correct response. Your ...,1,Your answer is incorrect.,1,ABCD,1,1
4,12,14,0,0,0,Your answer is correct.,1,There is more than one correct response. Your ...,1,Your answer is incorrect.,1,ABCD,1,1

Successfully extracted data for table: mdl_qtype_multichoice_options


---> Displaying data for table: mdl_question ---

---> Database Connection Established
Feteched data shape -> rows: 4716 columns: 16
---> Database connection closed

,id,parent,name,questiontext,questiontextformat,generalfeedback,generalfeedbackformat,defaultmark,penalty,qtype,length,stamp,timecreated,timemodified,createdby,modifiedby
0,10,0,Question 1,"<p dir=""ltr"" style=""text-align: left;""><b id=""...",1,,1,1.0,0.0,multichoice,1,seefaracademy.org+231003073603+ZeBlgq,1696318563,1696318563,10,10
1,11,0,initial survey Question 2,"<p dir=""ltr"" style="""">Which of the following p...",1,,1,1.0,0.0,multichoice,1,seefaracademy.org+231003073837+GkVCwY,1696318717,1696318717,10,10
2,12,0,Question 3,"<p dir=""ltr"" style=""text-align: left;""><b id=""...",1,,1,1.0,0.0,multichoice,1,seefaracademy.org+231003074402+GG6JDO,1696319042,1696319042,10,10
3,13,0,initial survey Question 3,"<p dir=""ltr"" style=""text-align: left;""><b id=""...",1,,1,1.0,0.0,multichoice,1,seefaracademy.org+231003074506+qIf4au,1696319106,1696319106,10,10
4,14,0,initial survey Question 1,"<p dir=""ltr"" style=""text-align: left;""><b id=""...",1,,1,1.0,0.0,multichoice,1,seefaracademy.org+231003075120+cPVEGP,1696319480,1696319480,10,10

Successfully extracted data for table: mdl_question


---> Displaying data for table: mdl_question_answers ---

---> Database Connection Established
Feteched data shape -> rows: 18348 columns: 7
---> Database connection closed

,id,question,answer,answerformat,fraction,feedback,feedbackformat
0,33,10,"<p dir=""ltr"" style=""text-align: left;"">You hav...",1,0.0,,1
1,34,10,"<p dir=""ltr"" style=""text-align: left;"">You are...",1,0.0,,1
2,35,10,"<p dir=""ltr"" style=""text-align: left;"">You hav...",1,0.5,,1
3,36,10,"<p dir=""ltr"" style=""text-align: left;"">You hav...",1,0.5,,1
4,37,10,"<p dir=""ltr"" style=""text-align: left;"">All of ...",1,0.0,,1

Successfully extracted data for table: mdl_question_answers


---> Displaying data for table: mdl_question_attempt_step_data ---

---> Database Connection Established
Feteched data shape -> rows: 121932 columns: 4
---> Database connection closed

     id  attemptstepid    name      value
0  2181           1359  _order  1355,1356
1  2182           1360  _order  1353,1354
2  2183           1361  _order  1357,1358
3  2184           1362  _order  1359,1360
4  2185           1363  _order  1361,1362

Successfully extracted data for table: mdl_question_attempt_step_data


---> Displaying data for table: mdl_question_attempt_steps ---

---> Database Connection Established
Feteched data shape -> rows: 95109 columns: 7
---> Database connection closed

,id,questionattemptid,sequencenumber,state,fraction,timecreated,userid
0,1359,655,0,todo,NaN,1697809724,10
1,1360,656,0,todo,NaN,1697809724,10
2,1361,657,0,todo,NaN,1697809724,10
3,1362,658,0,todo,NaN,1697809724,10
4,1363,659,0,todo,NaN,1697809724,10

Successfully extracted data for table: mdl_question_attempt_steps


---> Displaying data for table: mdl_question_attempts ---

---> Database Connection Established
Feteched data shape -> rows: 33680 columns: 14
---> Database connection closed

,id,questionusageid,slot,behaviour,questionid,variant,maxmark,minfraction,maxfraction,flagged,questionsummary,rightanswer,responsesummary,timemodified
0,655,276,1,deferredfeedback,355,1,1.0,0.0,1.0,0,"I have checked multiple, diverse sources to en...",Yes\n,None,1697809795
1,656,276,2,deferredfeedback,354,1,1.0,0.0,1.0,0,I have chosen a destination country. \n\n: Yes...,Yes\n,None,1697809795
2,657,276,3,deferredfeedback,356,1,1.0,0.0,1.0,0,I know which routes I can take to reach my des...,Yes\n,None,1697809795
3,658,276,4,deferredfeedback,357,1,1.0,0.0,1.0,0,I know which methods of transportation I can t...,Yes\n,None,1697809795
4,659,276,5,deferredfeedback,358,1,1.0,0.0,1.0,0,I know how much the journey to my destination ...,Yes\n,None,1697809795

Successfully extracted data for table: mdl_question_attempts


---> Displaying data for table: mdl_question_bank_entries ---

---> Database Connection Established
Feteched data shape -> rows: 1244 columns: 4
---> Database connection closed

   id  questioncategoryid idnumber  ownerid
0   5                  18     None       10
1   6                  18     None       10
2   7                  18     None       10
3   8                  18     None       10
4   9                  18     None       10

Successfully extracted data for table: mdl_question_bank_entries


---> Displaying data for table: mdl_question_categories ---

---> Database Connection Established
Feteched data shape -> rows: 672 columns: 9
---> Database connection closed

,id,name,contextid,info,infoformat,stamp,parent,sortorder,idnumber
0,1,top,2,,0,seefaracademy.org+230831030956+IP0J6P,0,0,None
1,2,Default for Site home,2,The default category for questions shared in c...,0,seefaracademy.org+230831030956+aBQCHA,1,999,None
2,3,top,1,,0,seefaracademy.org+230831030956+MnuwvR,0,0,None
3,4,Default for System,1,The default category for questions shared in c...,0,seefaracademy.org+230831030956+VceCo9,3,999,None
4,15,top,90,,0,seefaracademy.org+230919031958+JZGAn1,0,0,None

Successfully extracted data for table: mdl_question_categories


---> Displaying data for table: mdl_question_ddwtos ---

---> Database Connection Established
Feteched data shape -> rows: 25 columns: 10
---> Database connection closed

,id,questionid,shuffleanswers,correctfeedback,correctfeedbackformat,partiallycorrectfeedback,partiallycorrectfeedbackformat,incorrectfeedback,incorrectfeedbackformat,shownumcorrect
0,1,4460,0,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
1,2,4506,0,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
2,3,4611,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
3,4,4612,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
4,5,4613,1,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1

Successfully extracted data for table: mdl_question_ddwtos


---> Displaying data for table: mdl_question_gapfill ---

---> Database Connection Established
Feteched data shape -> rows: 520 columns: 17
---> Database connection closed

,id,question,answerdisplay,delimitchars,casesensitive,noduplicates,disableregex,fixedgapsize,optionsaftertext,singleuse,letterhints,correctfeedback,correctfeedbackformat,partiallycorrectfeedback,partiallycorrectfeedbackformat,incorrectfeedback,incorrectfeedbackformat
0,13,374,dragdrop,[],0,0,1,1,0,1,0,,1,,1,,1
1,14,375,dragdrop,[],0,0,1,1,0,1,0,,1,,1,,1
2,15,376,dragdrop,[],0,0,1,1,0,1,0,,1,,1,,1
3,16,383,dragdrop,[],0,0,1,1,0,1,0,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1
4,17,384,dragdrop,[],0,0,1,1,0,1,0,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1

Successfully extracted data for table: mdl_question_gapfill


---> Displaying data for table: mdl_question_gapfill_settings ---

---> Database Connection Established
Feteched data shape -> rows: 48 columns: 6
---> Database connection closed

,id,question,itemid,gaptext,correctfeedback,incorrectfeedback
0,1,385,id1_0,"Express your feelings and worries, Practice ki...",,
1,2,386,id1_0,"Express your feelings and worries, Practice ki...",,
2,3,387,id1_0,"Express your feelings and worries, Practice ki...",,
3,4,388,id1_0,"Express your feelings and worries, Practice ki...",,
4,5,389,id1_0,"Express your feelings and worries, Practice ki...",,

Successfully extracted data for table: mdl_question_gapfill_settings


---> Displaying data for table: mdl_question_gapselect ---

---> Database Connection Established
Feteched data shape -> rows: 78 columns: 10
---> Database connection closed

,id,questionid,shuffleanswers,correctfeedback,correctfeedbackformat,partiallycorrectfeedback,partiallycorrectfeedbackformat,incorrectfeedback,incorrectfeedbackformat,shownumcorrect
0,2,251,0,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
1,3,252,0,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
2,4,253,0,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
3,5,254,0,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1
4,6,255,0,Your answer is correct.,1,Your answer is partially correct.,1,Your answer is incorrect.,1,1

Successfully extracted data for table: mdl_question_gapselect


---> Displaying data for table: mdl_question_hints ---

---> Database Connection Established
Feteched data shape -> rows: 88 columns: 7
---> Database connection closed

   id  questionid hint  hintformat  shownumcorrect  clearwrong options
0   3         658                1               0           1    None
1   4         658                1               0           1    None
2   5        1147                1               0           1    None
3   6        1147                1               0           1    None
4   9        1526                1               0           1    None

Successfully extracted data for table: mdl_question_hints


---> Displaying data for table: mdl_question_references ---

---> Database Connection Established
Feteched data shape -> rows: 1107 columns: 7
---> Database connection closed

,id,usingcontextid,component,questionarea,itemid,questionbankentryid,version
0,4,121,mod_quiz,slot,4,5,None
1,5,121,mod_quiz,slot,5,6,None
2,6,121,mod_quiz,slot,6,7,None
3,7,121,mod_quiz,slot,7,8,None
4,8,121,mod_quiz,slot,8,9,None

Successfully extracted data for table: mdl_question_references


---> Displaying data for table: mdl_question_response_analysis ---

---> Database Connection Established
Feteched data shape -> rows: 2557 columns: 10
---> Database connection closed

,id,hashcode,whichtries,timemodified,questionid,variant,subqid,aid,response,credit
0,3,1afcbec028f7ca4b759200c2b2aa39303f30bdba,alltries,1696753202,82,1,82,302,Choice 2\n,1.0
1,4,1afcbec028f7ca4b759200c2b2aa39303f30bdba,alltries,1696753202,3,1,3,0,Short answer,0.0
2,5,1afcbec028f7ca4b759200c2b2aa39303f30bdba,alltries,1696753202,3,1,3,0,nkkjnk,0.0
3,6,1afcbec028f7ca4b759200c2b2aa39303f30bdba,alltries,1696753202,2,1,2,5,Choice 2\n,0.0
4,65,976b6b4725d9d7c20d953f05e99a0445fd26432f,alltries,1697703602,76,1,76,278,Cost of transportation. \n\n,0.0

Successfully extracted data for table: mdl_question_response_analysis


---> Displaying data for table: mdl_question_response_count ---

---> Database Connection Established
Feteched data shape -> rows: 78589 columns: 4
---> Database connection closed

   id  analysisid  try  rcount
0   1           1    1       1
1   2           2    1       1
2   3           3    1       1
3   4           4    1       1
4   5           5    1       1

Successfully extracted data for table: mdl_question_response_count


---> Displaying data for table: mdl_question_statistics ---

---> Database Connection Established
Feteched data shape -> rows: 1115 columns: 18
---> Database connection closed

,id,hashcode,timemodified,questionid,slot,subquestion,variant,s,effectiveweight,negcovar,discriminationindex,discriminativeefficiency,sd,facility,subquestions,maxmark,positions,randomguessscore
0,4,1afcbec028f7ca4b759200c2b2aa39303f30bdba,1696753202,82,1.0,0,None,2,100.0,0,NaN,NaN,0.707107,0.5,,1.0,1,1.000000
1,5,1afcbec028f7ca4b759200c2b2aa39303f30bdba,1696753202,3,2.0,0,None,2,0.0,0,NaN,NaN,0.000000,0.0,,1.0,2,0.000000
2,6,1afcbec028f7ca4b759200c2b2aa39303f30bdba,1696753202,2,NaN,1,None,1,NaN,0,NaN,NaN,NaN,0.0,,1.0,1,0.333333
3,37,976b6b4725d9d7c20d953f05e99a0445fd26432f,1697703602,306,1.0,0,None,1,NaN,0,NaN,NaN,NaN,0.0,,1.0,1,0.200000
4,38,976b6b4725d9d7c20d953f05e99a0445fd26432f,1697703602,307,2.0,0,None,1,NaN,0,NaN,NaN,NaN,0.5,,1.0,2,NaN

Successfully extracted data for table: mdl_question_statistics


---> Displaying data for table: mdl_question_truefalse ---

---> Database Connection Established
Feteched data shape -> rows: 232 columns: 5
---> Database connection closed

   id  question  trueanswer  falseanswer  showstandardinstruction
0   1        18          69           70                        1
1   2        19          71           72                        1
2   3        53         195          196                        1
3   4        54         197          198                        1
4   5        55         199          200                        1

Successfully extracted data for table: mdl_question_truefalse


---> Displaying data for table: mdl_question_usages ---

---> Database Connection Established
Feteched data shape -> rows: 7685 columns: 4
---> Database connection closed

    id  contextid component preferredbehaviour
0  276        263  mod_quiz   deferredfeedback
1  285        121  mod_quiz   deferredfeedback
2  286        388  mod_quiz   deferredfeedback
3  325        263  mod_quiz   deferredfeedback
4  326        145  mod_quiz  immediatefeedback

Successfully extracted data for table: mdl_question_usages


---> Displaying data for table: mdl_question_versions ---

---> Database Connection Established
Feteched data shape -> rows: 4716 columns: 5
---> Database connection closed

   id  questionbankentryid  version  questionid status
0  10                    5        1          10  ready
1  11                    6        1          11  ready
2  12                    7        1          12  ready
3  13                    7        2          13  ready
4  14                    5        2          14  ready

Successfully extracted data for table: mdl_question_versions


---> Displaying data for table: mdl_questionnaire ---

---> Database Connection Established
Feteched data shape -> rows: 47 columns: 20
---> Database connection closed

,id,course,name,intro,introformat,qtype,respondenttype,resp_eligible,resp_view,notifications,opendate,closedate,resume,navigate,grade,sid,timemodified,completionsubmit,autonum,progressbar
0,2,10,Initial survey part 2,"<p dir=""ltr"" style=""text-align: left;"">The fol...",1,1,anonymous,all,0,0,0,0,1,1,0,2,1697811207,1,3,1
1,4,10,Final survey part 2,"<p dir=""ltr"" style=""text-align: left;"">The fol...",1,1,anonymous,all,0,0,0,0,1,1,0,4,1697800043,1,3,0
2,5,12,Initial Survey Part 2,"<p dir=""ltr"" style=""text-align: left;"">The fol...",1,0,fullname,all,1,0,0,0,0,0,0,5,1698097135,1,3,0
3,6,12,Final Survey part 2,"<p dir=""ltr"" style=""text-align: left;"">Please ...",1,0,fullname,all,1,0,0,0,0,0,0,6,1698103979,1,3,0
4,9,13,الاستبيان الأولى الجزء الثاني,"<p dir=""ltr"" style=""text-align: right;"">الأسئل...",1,1,anonymous,all,0,0,0,0,1,1,0,9,1698409239,1,3,0

Successfully extracted data for table: mdl_questionnaire


---> Displaying data for table: mdl_questionnaire_dependency ---

---> Database Connection Established
Feteched data shape -> rows: 923 columns: 7
---> Database connection closed

,id,questionid,surveyid,dependquestionid,dependchoiceid,dependlogic,dependandor
0,49,28,2,26,82,1,or
1,50,28,2,26,83,1,or
2,51,28,2,26,84,1,or
3,55,34,2,28,87,1,or
4,56,34,2,28,88,1,or

Successfully extracted data for table: mdl_questionnaire_dependency


---> Displaying data for table: mdl_questionnaire_quest_choice ---

---> Database Connection Established
Feteched data shape -> rows: 2992 columns: 4
---> Database connection closed

   id  question_id             content value
0  19           12      Very important  None
1  20           12           Important  None
2  21           12             Neutral  None
3  22           12       Not important  None
4  23           12  Not very important  None

Successfully extracted data for table: mdl_questionnaire_quest_choice


---> Displaying data for table: mdl_questionnaire_question ---

---> Database Connection Established
Feteched data shape -> rows: 707 columns: 12
---> Database connection closed

,id,surveyid,name,type_id,result_id,length,precise,position,content,required,deleted,extradata
0,12,2,Question 1,5,None,0,0,2,"<p dir=""ltr"" style=""text-align: left;""><b id=""...",n,y,0
1,13,2,question 2,5,None,0,0,6,"<p dir=""ltr"" style=""text-align: left;"">Do you ...",n,y,0
2,14,2,question 3,5,None,0,0,8,"<p dir=""ltr"" style=""text-align: left;"">What is...",n,y,0
3,15,2,None,99,None,0,0,6,break,n,y,None
4,16,2,question 4,5,None,0,0,8,"<p dir=""ltr"" style=""text-align: left;"">What is...",n,y,0

Successfully extracted data for table: mdl_questionnaire_question


---> Displaying data for table: mdl_questionnaire_question_type ---

---> Database Connection Established
Feteched data shape -> rows: 12 columns: 5
---> Database connection closed

   id  typeid           type has_choices response_table
0   1       1         Yes/No           n  response_bool
1   2       2       Text Box           n  response_text
2   3       3      Essay Box           n  response_text
3   4       4  Radio Buttons           y    resp_single
4   5       5    Check Boxes           y  resp_multiple

Successfully extracted data for table: mdl_questionnaire_question_type


---> Displaying data for table: mdl_questionnaire_resp_multiple ---

---> Database Connection Established
Feteched data shape -> rows: 2125 columns: 4
---> Database connection closed

   id  response_id  question_id  choice_id
0  29            8           17         57
1  33           11           37        139
2  34           17          538       2373
3  35           19          738       3276
4  36           20          111        458

Successfully extracted data for table: mdl_questionnaire_resp_multiple


---> Displaying data for table: mdl_questionnaire_resp_single ---

---> Database Connection Established
Feteched data shape -> rows: 7056 columns: 4
---> Database connection closed

   id  response_id  question_id  choice_id
0   8            8           24         78
1   9            8           26         82
2  10            8           28         88
3  11            8           34        117
4  12            8           36        130

Successfully extracted data for table: mdl_questionnaire_resp_single


---> Displaying data for table: mdl_questionnaire_response ---

---> Database Connection Established
Feteched data shape -> rows: 3064 columns: 6
---> Database connection closed

   id  questionnaireid   submitted complete  grade  userid
0   8                2  1697987660        y      0      23
1  11                4  1698059149        y      0      23
2  12                9  1698239978        n      0      23
3  13               15  1698242091        y      0      23
4  14               18  1698780894        n      0      17

Successfully extracted data for table: mdl_questionnaire_response


---> Displaying data for table: mdl_questionnaire_response_bool ---

---> Database Connection Established
Feteched data shape -> rows: 493 columns: 4
---> Database connection closed

   id  response_id  question_id choice_id
0   1           42           85         y
1   2           42           86         y
2   3           42           89         y
3   4           43           85         y
4   5           43           86         y

Successfully extracted data for table: mdl_questionnaire_response_bool


---> Displaying data for table: mdl_questionnaire_response_rank ---

---> Database Connection Established
Feteched data shape -> rows: 2252 columns: 5
---> Database connection closed

   id  response_id  question_id  choice_id  rankvalue
0   1           73          860       3742          2
1   2           73          861       3743          3
2   3          104          876       3835          1
3   4          104          877       3836          5
4   5          106          876       3835          1

Successfully extracted data for table: mdl_questionnaire_response_rank


---> Displaying data for table: mdl_questionnaire_response_text ---

---> Database Connection Established
Feteched data shape -> rows: 2377 columns: 4
---> Database connection closed

   id  response_id  question_id response
0  15           24          180      erh
1  16           24          181     aerh
2  17           24          185     esrh
3  18           50          327        a
4  19           50          331        a

Successfully extracted data for table: mdl_questionnaire_response_text


---> Displaying data for table: mdl_questionnaire_survey ---

---> Database Connection Established
Feteched data shape -> rows: 47 columns: 17
---> Database connection closed

,id,name,courseid,realm,status,title,email,subtitle,info,theme,thanks_page,thank_head,thank_body,feedbacksections,feedbacknotes,feedbackscores,chart_type
0,2,Initial survey part 2,10,private,0,Initial survey part 2,,,,,,Thank you!,"<p dir=""ltr"">Thank you for taking the time to ...",0,,0,
1,4,Initial survey part 2,10,private,0,Initial survey part 2,,,,,,Thank you!,"<h4><strong><a href=""https://seefaracademy.org...",0,,0,
2,5,Initial Survey Part 2,12,public,0,Initial Survey Part 2,,,,,,,,0,,0,
3,6,Initial Survey Part 2,12,public,0,Initial Survey Part 2,,,,,,,,0,,0,
4,9,Initial survey part 2,13,private,0,Initial survey part 2,,,,,,Thank you!,"<p dir=""ltr"">شكراً لكم على أخذ الوقت لاستكمال ...",0,,0,

Successfully extracted data for table: mdl_questionnaire_survey


---> Displaying data for table: mdl_quiz ---

---> Database Connection Established
Feteched data shape -> rows: 299 columns: 41
---> Database connection closed

,id,course,name,intro,introformat,timeopen,timeclose,timelimit,overduehandling,graceperiod,...,password,subnet,browsersecurity,delay1,delay2,showuserpicture,showblocks,completionattemptsexhausted,completionminattempts,allowofflineattempts
0,4,10,Initial survey part 1,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,0,0,0,autosubmit,0,...,,,-,0,0,0,0,0,1,0
1,7,10,How to make an informed migration plan,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,0,0,0,autosubmit,0,...,,,-,0,0,0,0,0,1,0
2,15,10,Knowledge Check #1,"<p dir=""ltr"" style=""text-align: left;""><strong...",1,0,0,0,autosubmit,0,...,,,-,0,0,0,0,0,1,0
3,16,10,Knowledge Check #2,,1,0,0,0,autosubmit,0,...,,,-,0,0,0,0,0,1,0
4,17,10,Knowledge Check #3,,1,0,0,0,autosubmit,0,...,,,-,0,0,0,0,0,1,0

Successfully extracted data for table: mdl_quiz


---> Displaying data for table: mdl_quiz_attempts ---

---> Database Connection Established
Feteched data shape -> rows: 7685 columns: 16
---> Database connection closed

,id,quiz,userid,attempt,uniqueid,layout,currentpage,preview,state,timestart,timefinish,timemodified,timemodifiedoffline,timecheckstate,sumgrades,gradednotificationsenttime
0,188,33,10,1,276,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,0",0,1,finished,1697809724,1697809795,1697809795,0,NaN,3.0,1.697810e+09
1,194,4,23,1,285,"1,2,3,4,5,6,7,8,9,10,0",0,0,finished,1697987307,1697987593,1697987593,0,NaN,7.0,1.697988e+09
2,195,58,23,1,286,"1,0",0,0,finished,1697987698,1697987778,1697987778,0,NaN,0.5,1.697988e+09
3,200,33,23,1,325,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,0",0,0,finished,1697993844,1697994060,1697994060,0,NaN,18.0,1.697994e+09
4,201,7,23,1,326,"1,2,3,4,0",0,0,finished,1697994108,1697994268,1697994268,0,NaN,4.0,1.697994e+09

Successfully extracted data for table: mdl_quiz_attempts


---> Displaying data for table: mdl_quiz_feedback ---

---> Database Connection Established
Feteched data shape -> rows: 499 columns: 6
---> Database connection closed

,id,quizid,feedbacktext,feedbacktextformat,mingrade,maxgrade
0,411,58,,1,0.00,5.00
1,517,15,<p>You matched 7/7 terms correctly. Continue w...,1,6.02,8.00
2,518,15,"<p dir=""ltr"">You matched 6/7 terms correctly. ...",1,5.04,6.02
3,519,15,"<p dir=""ltr"" style=""text-align: left;""></p><p ...",1,4.06,5.04
4,520,15,"<p dir=""ltr"" style=""text-align: left;"">You mat...",1,3.01,4.06

Successfully extracted data for table: mdl_quiz_feedback


---> Displaying data for table: mdl_quiz_grades ---

---> Database Connection Established
Feteched data shape -> rows: 5328 columns: 5
---> Database connection closed

   id  quiz  userid  grade  timemodified
0  45     4      23    7.0    1697987593
1  46    58      23    2.0    1697987778
2  47    33      23   22.0    1697994060
3  48     7      23    4.0    1697994268
4  49    15      23    0.0    1697994495

Successfully extracted data for table: mdl_quiz_grades


---> Displaying data for table: mdl_quiz_reports ---

---> Database Connection Established
Feteched data shape -> rows: 4 columns: 4
---> Database connection closed

   id        name  displayorder            capability
0   1     grading          6000        mod/quiz:grade
1   2    overview         10000                  None
2   3   responses          9000                  None
3   4  statistics          8000  quiz/statistics:view

Successfully extracted data for table: mdl_quiz_reports


---> Displaying data for table: mdl_quiz_sections ---

---> Database Connection Established
Feteched data shape -> rows: 299 columns: 5
---> Database connection closed

   id  quizid  firstslot heading  shufflequestions
0   4       4          1                         0
1   8       7          1                         0
2  16      15          1                         0
3  17      16          1                         0
4  18      17          1                         0

Successfully extracted data for table: mdl_quiz_sections


---> Displaying data for table: mdl_quiz_slots ---

---> Database Connection Established
Feteched data shape -> rows: 1107 columns: 7
---> Database connection closed

   id  slot  quizid  page displaynumber  requireprevious  maxmark
0   4     1       4     1          None                0      1.0
1   5     2       4     1          None                0      1.0
2   6     3       4     1          None                0      1.0
3   7     4       4     1          None                0      1.0
4   8     5       4     1          None                0      1.0

Successfully extracted data for table: mdl_quiz_slots


---> Displaying data for table: mdl_quiz_statistics ---

---> Database Connection Established
Feteched data shape -> rows: 251 columns: 19
---> Database connection closed

,id,hashcode,whichattempts,timemodified,firstattemptscount,highestattemptscount,lastattemptscount,allattemptscount,firstattemptsavg,highestattemptsavg,lastattemptsavg,allattemptsavg,median,standarddeviation,skewness,kurtosis,cic,errorratio,standarderror
0,2,1afcbec028f7ca4b759200c2b2aa39303f30bdba,1,1696753202,2,2,2,2,0.50000,0.50000,0.50000,0.50000,0.50000,0.70711,NaN,NaN,NaN,NaN,NaN
1,15,976b6b4725d9d7c20d953f05e99a0445fd26432f,1,1697703602,1,1,1,1,4.33333,4.33333,4.33333,4.33333,4.33333,NaN,NaN,NaN,NaN,NaN,NaN
2,17,3a856c84cd1a7a42c53fad99fac33a3d87e7cb7e,1,1697718001,1,1,1,1,6.00000,6.00000,6.00000,6.00000,6.00000,NaN,NaN,NaN,NaN,NaN,NaN
3,18,ffe926c7745855acfdb0dd1c742c5f25c39a0e3f,1,1697718002,1,1,1,1,4.00000,4.00000,4.00000,4.00000,4.00000,NaN,NaN,NaN,NaN,NaN,NaN
4,22,9d46a5cf3b57ff85e0f5e99940b2f172b8f60cf6,1,1697818802,1,1,1,1,4.00000,4.00000,4.00000,4.00000,4.00000,NaN,NaN,NaN,NaN,NaN,NaN

Successfully extracted data for table: mdl_quiz_statistics


---> Displaying data for table: mdl_report_customsql_categories ---

---> Database Connection Established
Feteched data shape -> rows: 3 columns: 2
---> Database connection closed

   id           name
0   1  Miscellaneous
1   2          Users
2   3        Courses

Successfully extracted data for table: mdl_report_customsql_categories


---> Displaying data for table: mdl_report_customsql_queries ---

---> Database Connection Established
Feteched data shape -> rows: 4 columns: 20
---> Database connection closed

,id,displayname,description,descriptionformat,querysql,queryparams,querylimit,capability,lastrun,lastexecutiontime,runable,singlerow,at,emailto,emailwhat,categoryid,customdir,usermodified,timecreated,timemodified
0,8,Login and logout times,<p>Using logs from the table&nbsp;<em>logstore...,1,"SELECT action, userid,\r\nDATE_FORMAT(FROM_UNI...","a:1:{s:7:""user_id"";s:1:""0"";}",100,moodle/site:config,1693549532,4,manual,0,,,,2,,2,1693468604,1693549528
1,9,User Details,<p>Details are retrieved from the&nbsp;<em>use...,1,"SELECT id, username,\r\nCONCAT(firstname, ' ',...",,100,moodle/site:config,1693811479,3,manual,0,,,,2,,2,1693470285,1693470612
2,11,Activity views by User and Course,<p>Course ID = 0 refers to the whole site. Vie...,1,"SELECT objecttable, objectid, component, COUNT...","a:2:{s:9:""course_id"";s:1:""2"";s:7:""user_id"";s:1...",100,moodle/site:config,1693807764,3,manual,0,,,,3,,2,1693536256,1693798100
3,14,Recently access items,,1,"SELECT *,\r\nDATE_FORMAT(FROM_UNIXTIME(timeacc...",,100,moodle/site:config,1693793446,1,manual,0,,,,3,,2,1693793393,1693793446

Successfully extracted data for table: mdl_report_customsql_queries


---> Displaying data for table: mdl_reportbuilder_column ---

---> Database Connection Established
Feteched data shape -> rows: 44 columns: 13
---> Database connection closed

,id,reportid,uniqueidentifier,aggregation,heading,columnorder,sortenabled,sortdirection,sortorder,usercreated,usermodified,timecreated,timemodified
0,11,6,enrolment:method,count,Total Enrolments,2,0,4,2,2,37,1693464786,1704368798
1,14,6,course:fullname,None,None,1,0,4,5,2,37,1693464901,1704368798
2,21,8,course:coursefullnamewithlink,None,None,1,0,4,1,2,37,1693465811,1706696253
3,23,8,user:fullnamewithlink,None,None,2,0,4,3,2,37,1693465811,1706696253
4,25,8,enrolment:role,None,Course Role,5,0,4,5,2,37,1693465837,1706696253

Successfully extracted data for table: mdl_reportbuilder_column


---> Displaying data for table: mdl_reportbuilder_filter ---

---> Database Connection Established
Feteched data shape -> rows: 41 columns: 10
---> Database connection closed

,id,reportid,uniqueidentifier,heading,iscondition,filterorder,usercreated,usermodified,timecreated,timemodified
0,8,5,user:fullname,None,0,1,2,2,1693464501,1693464501
1,9,5,user:username,None,0,2,2,2,1693464501,1693464501
2,10,5,user:email,None,0,3,2,2,1693464501,1693464501
3,11,5,user:fullname,None,1,1,2,2,1693464501,1693464501
4,12,5,user:username,None,1,2,2,2,1693464501,1693464501

Successfully extracted data for table: mdl_reportbuilder_filter


---> Displaying data for table: mdl_reportbuilder_report ---

---> Database Connection Established
Feteched data shape -> rows: 16 columns: 15
---> Database connection closed

,id,name,source,type,uniquerows,conditiondata,settingsdata,contextid,component,area,itemid,usercreated,usermodified,timecreated,timemodified
0,1,None,core_reportbuilder\local\systemreports\reports...,1,0,None,None,1,,,0,2,2,1693379337,1693379337
1,3,None,core_reportbuilder\local\systemreports\report_...,1,0,None,None,1,,,0,2,2,1693379399,1693379399
2,4,None,core_reportbuilder\local\systemreports\report_...,1,0,None,None,1,,,0,2,2,1693379400,1693379400
3,5,Responses to sign-up questions,core_user\reportbuilder\datasource\users,0,0,"{""user:suspended_operator"":2}",None,1,,,0,2,2,1693464501,1693794123
4,6,No. of Course Enrolments,core_course\reportbuilder\datasource\participants,0,0,"{""user:suspended_operator"":""2"",""user:confirmed...",None,1,,,0,2,2,1693464786,1693465729

Successfully extracted data for table: mdl_reportbuilder_report


---> Displaying data for table: mdl_repository ---

---> Database Connection Established
Feteched data shape -> rows: 8 columns: 4
---> Database connection closed

   id         type  visible  sortorder
0   1    areafiles        1          1
1   2  contentbank        1          2
2   3        local        1          3
3   4       recent        1          4
4   5       upload        1          5

Successfully extracted data for table: mdl_repository


---> Displaying data for table: mdl_repository_instances ---

---> Database Connection Established
Feteched data shape -> rows: 8 columns: 10
---> Database connection closed

,id,name,typeid,userid,contextid,username,password,timecreated,timemodified,readonly
0,1,,1,0,1,None,None,1693378372,1693378372,0
1,2,,2,0,1,None,None,1693378373,1693378373,0
2,3,,3,0,1,None,None,1693378374,1693378374,0
3,4,,4,0,1,None,None,1693378374,1693378374,0
4,5,,5,0,1,None,None,1693378374,1693378374,0

Successfully extracted data for table: mdl_repository_instances


---> Displaying data for table: mdl_role ---

---> Database Connection Established
Feteched data shape -> rows: 8 columns: 6
---> Database connection closed

   id name       shortname description  sortorder       archetype
0   1              manager                      1         manager
1   2        coursecreator                      2   coursecreator
2   3       editingteacher                      3  editingteacher
3   4              teacher                      4         teacher
4   5              student                      5         student

Successfully extracted data for table: mdl_role


---> Displaying data for table: mdl_role_allow_assign ---

---> Database Connection Established
Feteched data shape -> rows: 9 columns: 3
---> Database connection closed

   id  roleid  allowassign
0   1       1            1
1   2       1            2
2   3       1            3
3   4       1            4
4   5       1            5

Successfully extracted data for table: mdl_role_allow_assign


---> Displaying data for table: mdl_role_allow_override ---

---> Database Connection Established
Feteched data shape -> rows: 11 columns: 3
---> Database connection closed

   id  roleid  allowoverride
0   1       1              1
1   2       1              2
2   3       1              3
3   4       1              4
4   5       1              5

Successfully extracted data for table: mdl_role_allow_override


---> Displaying data for table: mdl_role_allow_switch ---

---> Database Connection Established
Feteched data shape -> rows: 9 columns: 3
---> Database connection closed

   id  roleid  allowswitch
0   1       1            3
1   2       1            4
2   3       1            5
3   4       1            6
4   5       3            4

Successfully extracted data for table: mdl_role_allow_switch


---> Displaying data for table: mdl_role_allow_view ---

---> Database Connection Established
Feteched data shape -> rows: 24 columns: 3
---> Database connection closed

   id  roleid  allowview
0   1       1          1
1   2       1          2
2   3       1          3
3   4       1          4
4   5       1          5

Successfully extracted data for table: mdl_role_allow_view


---> Displaying data for table: mdl_role_assignments ---

---> Database Connection Established
Feteched data shape -> rows: 1495 columns: 9
---> Database connection closed

,id,roleid,contextid,userid,timemodified,modifierid,component,itemid,sortorder
0,16,3,119,10,1696315526,10,,0,0
1,18,3,227,11,1696505349,11,,0,0
2,19,5,119,11,1696506608,10,,0,0
3,24,5,119,23,1697983276,10,,0,0
4,25,3,518,11,1698104728,11,,0,0

Successfully extracted data for table: mdl_role_assignments


---> Displaying data for table: mdl_role_capabilities ---

---> Database Connection Established
Feteched data shape -> rows: 1633 columns: 7
---> Database connection closed

,id,contextid,roleid,capability,permission,timemodified,modifierid
0,1,1,1,moodle/site:configview,1,1693378302,0
1,2,1,2,moodle/site:configview,1,1693378302,0
2,3,1,1,moodle/site:readallmessages,1,1693378302,0
3,4,1,3,moodle/site:readallmessages,1,1693378302,0
4,5,1,1,moodle/site:manageallmessaging,1,1693378302,0

Successfully extracted data for table: mdl_role_capabilities


---> Displaying data for table: mdl_role_context_levels ---

---> Database Connection Established
Feteched data shape -> rows: 11 columns: 3
---> Database connection closed

   id  roleid  contextlevel
0   1       1            10
1  14       2            10
2   2       1            40
3  15       2            40
4   3       1            50

Successfully extracted data for table: mdl_role_context_levels


---> Displaying data for table: mdl_scale ---

---> Database Connection Established
Feteched data shape -> rows: 2 columns: 8
---> Database connection closed

,id,courseid,userid,name,scale,description,descriptionformat,timemodified
0,1,0,0,Separate and Connected ways of knowing,"Mostly separate knowing,Separate and connected...",The scale based on the theory of separate and ...,0,1693378309
1,2,0,0,Default competence scale,"Not yet competent,Competent",A binary rating scale that provides no further...,0,1693378309

Successfully extracted data for table: mdl_scale


---> Displaying data for table: mdl_search_simpledb_index ---

---> Database Connection Established
Feteched data shape -> rows: 4461 columns: 14
---> Database connection closed

,id,docid,itemid,title,content,contextid,areaid,type,courseid,owneruserid,modified,userid,description1,description2
0,4,core_course-course-1,1,Seefar Academy,Seefar Academy,2,core_course-course,1,1,0,1765632964,NaN,SeefarAcademy,None
1,5,core_user-user-1,1,Guest user,This user is a special user that allows read-o...,1,core_user-user,1,1,0,1693378302,NaN,None,None
2,6,core_user-user-2,2,Admin User,,1,core_user-user,1,1,0,1695629142,NaN,None,None
3,7,core_user-user-3,3,Student User,,1,core_user-user,1,1,0,1707981535,NaN,None,None
4,20,core_user-user-4,4,Admin Theme,,1,core_user-user,1,1,0,1694417444,NaN,None,None

Successfully extracted data for table: mdl_search_simpledb_index


---> Displaying data for table: mdl_sessions ---

---> Database Connection Established
Feteched data shape -> rows: 3 columns: 9
---> Database connection closed

,id,state,sid,userid,sessdata,timecreated,timemodified,firstip,lastip
0,1298826,0,7h4ul01lbgf617sff8qtf5tpjj,0,None,1769763642,1769763644,2409:8746:940:3:2f:0:0:0,2409:8746:940:3:2f:0:0:0
1,1298832,0,vv95d7j35rmacdqvrtf1he1c6e,0,None,1769766280,1769766326,209.50.175.25,216.26.234.88
2,1298834,0,dk6g20fidgadmsri3u7jrundpp,0,None,1769767364,1769767365,114.119.140.186,114.119.140.186

Successfully extracted data for table: mdl_sessions


---> Displaying data for table: mdl_stats_daily ---

---> Database Connection Established
Feteched data shape -> rows: 137 columns: 7
---> Database connection closed

   id  courseid     timeend  roleid    stattype  stat1  stat2
0   1         2  1693350000       3  enrolments      1      0
1   2         2  1693350000       5  enrolments      1      0
2   3         5  1693350000       3  enrolments      1      0
3   4         5  1693350000       5  enrolments      1      0
4   8         1  1693436400       0      logins      3      1

Successfully extracted data for table: mdl_stats_daily


---> Displaying data for table: mdl_stats_monthly ---

---> Database Connection Established
Feteched data shape -> rows: 20 columns: 7
---> Database connection closed

   id  courseid     timeend  roleid    stattype  stat1  stat2
0   1         1  1693522800       0      logins     21      2
1   2         2  1693522800       3  enrolments      1      1
2   3         2  1693522800       5  enrolments      1      1
3   4         5  1693522800       3  enrolments      1      1
4   5         5  1693522800       5  enrolments      1      1

Successfully extracted data for table: mdl_stats_monthly


---> Displaying data for table: mdl_stats_user_daily ---

---> Database Connection Established
Feteched data shape -> rows: 39 columns: 8
---> Database connection closed

   id  courseid  userid  roleid     timeend  statsreads  statswrites  stattype
0   1         1       2       0  1693436400           3            0    logins
1   2         1       0       0  1693436400          12            0  activity
2   3         1       2       0  1693436400           2            1  activity
3   4         1       2       0  1693522800          11            0    logins
4   5         1       3       0  1693522800           7            0    logins

Successfully extracted data for table: mdl_stats_user_daily


---> Displaying data for table: mdl_stats_user_monthly ---

---> Database Connection Established
Feteched data shape -> rows: 11 columns: 8
---> Database connection closed

   id  courseid  userid  roleid     timeend  statsreads  statswrites  stattype
0   1         1       2       0  1693522800          14            0    logins
1   2         1       3       0  1693522800           7            0    logins
2   4         1       0       0  1693522800          37            0  activity
3   5         1       2       0  1693522800          10            2  activity
4   6         2       2       0  1693522800         133           49  activity

Successfully extracted data for table: mdl_stats_user_monthly


---> Displaying data for table: mdl_stats_user_weekly ---

---> Database Connection Established
Feteched data shape -> rows: 12 columns: 8
---> Database connection closed

   id  courseid  userid  roleid     timeend  statsreads  statswrites  stattype
0   1         1       2       0  1693782000          16            0    logins
1   2         1       3       0  1693782000           8            0    logins
2   4         1       0       0  1693782000          51            0  activity
3   5         1       2       0  1693782000          11            2  activity
4   6         2       2       0  1693782000         170           57  activity

Successfully extracted data for table: mdl_stats_user_weekly


---> Displaying data for table: mdl_stats_weekly ---

---> Database Connection Established
Feteched data shape -> rows: 24 columns: 7
---> Database connection closed

   id  courseid     timeend  roleid    stattype  stat1  stat2
0   1         1  1693782000       0      logins     24      2
1   2         2  1693782000       3  enrolments      1      1
2   3         2  1693782000       5  enrolments      1      1
3   4         5  1693782000       3  enrolments      1      1
4   5         5  1693782000       5  enrolments      1      1

Successfully extracted data for table: mdl_stats_weekly


---> Displaying data for table: mdl_survey ---

---> Database Connection Established
Feteched data shape -> rows: 5 columns: 11
---> Database connection closed

,id,course,template,days,timecreated,timemodified,name,intro,introformat,questions,completionsubmit
0,1,0,0,0,985017600,985017600,collesaname,collesaintro,0,"25,26,27,28,29,30,43,44",0
1,2,0,0,0,985017600,985017600,collespname,collespintro,0,"31,32,33,34,35,36,43,44",0
2,3,0,0,0,985017600,985017600,collesapname,collesapintro,0,"37,38,39,40,41,42,43,44",0
3,4,0,0,0,985017600,985017600,attlsname,attlsintro,0,"65,67,68",0
4,5,0,0,0,985017600,985017600,ciqname,ciqintro,0,"69,70,71,72,73",0

Successfully extracted data for table: mdl_survey


---> Displaying data for table: mdl_survey_questions ---

---> Database Connection Established
Feteched data shape -> rows: 73 columns: 7
---> Database connection closed

   id     text     shorttext multi intro  type      options
0   1  colles1  colles1short                 1  scaletimes5
1   2  colles2  colles2short                 1  scaletimes5
2   3  colles3  colles3short                 1  scaletimes5
3   4  colles4  colles4short                 1  scaletimes5
4   5  colles5  colles5short                 1  scaletimes5

Successfully extracted data for table: mdl_survey_questions


---> Displaying data for table: mdl_tag ---

---> Database Connection Established
Feteched data shape -> rows: 135 columns: 10
---> Database connection closed

,id,userid,tagcollid,name,rawname,isstandard,description,descriptionformat,flag,timemodified
0,1,11,1,frontline workers,Frontline workers,0,None,0,0,1696505349
1,2,11,1,self-care,Self-Care,0,None,0,0,1696505349
2,3,11,1,counselling skills,Counselling skills,0,None,0,0,1696505349
3,4,85,1,traveling,Traveling,0,None,0,0,1701318241
4,5,85,1,driving,Driving,0,None,0,0,1701318241

Successfully extracted data for table: mdl_tag


---> Displaying data for table: mdl_tag_area ---

---> Database Connection Established
Feteched data shape -> rows: 11 columns: 9
---> Database connection closed

,id,component,itemtype,enabled,tagcollid,callback,callbackfile,showstandard,multiplecontexts
0,1,core,user,1,1,user_get_tagged_users,/user/lib.php,2,0
1,2,core,course,1,1,course_get_tagged_courses,/course/lib.php,0,0
2,3,core_question,question,1,1,None,None,0,1
3,4,core,post,1,1,blog_get_tagged_posts,/blog/lib.php,0,0
4,5,core,blog_external,1,1,None,None,0,0

Successfully extracted data for table: mdl_tag_area


---> Displaying data for table: mdl_tag_instance ---

---> Database Connection Established
Feteched data shape -> rows: 166 columns: 10
---> Database connection closed

,id,tagid,component,itemtype,itemid,contextid,tiuserid,ordering,timecreated,timemodified
0,1,1,core,course,12,227,0,0,1696505349,1696505349
1,2,2,core,course,12,227,0,1,1696505349,1696505349
2,3,3,core,course,12,227,0,2,1696505349,1696505349
3,4,1,core,course,34,1368,0,0,1699208858,1699605920
4,5,2,core,course,34,1368,0,1,1699208858,1699605920

Successfully extracted data for table: mdl_tag_instance


---> Displaying data for table: mdl_task_log ---

---> Database Connection Established
Feteched data shape -> rows: 7802 columns: 13
---> Database connection closed

,id,type,component,classname,userid,timestart,timeend,dbreads,dbwrites,result,output,hostname,pid
0,31356034,0,editor_atto,editor_atto\task\autosave_cleanup_task,0,1.767668e+09,1.767668e+09,0,1,0,Execute scheduled task: Delete expired autosav...,ip-172-26-2-237,367511
1,31425381,0,moodle,core\task\registration_cron_task,0,1.767832e+09,1.767832e+09,1,0,0,Execute scheduled task: Site registration (cor...,ip-172-26-2-237,391242
2,31508483,0,moodle,core\task\task_log_cleanup_task,0,1.768027e+09,1.768027e+09,182,113,0,Execute scheduled task: Cleanup of task logs (...,ip-172-26-2-237,419261
3,31508760,0,tool_messageinbound,tool_messageinbound\task\cleanup_task,0,1.768028e+09,1.768028e+09,0,1,0,Execute scheduled task: Cleanup of unverified ...,ip-172-26-2-237,419380
4,31508924,0,tool_analytics,tool_analytics\task\predict_models,0,1.768028e+09,1.768028e+09,4041,474,0,Execute scheduled task: Predict models (tool_a...,ip-172-26-2-237,419438

Successfully extracted data for table: mdl_task_log


---> Displaying data for table: mdl_task_scheduled ---

---> Database Connection Established
Feteched data shape -> rows: 118 columns: 17
---> Database connection closed

,id,component,classname,lastruntime,nextruntime,blocking,minute,hour,day,month,dayofweek,faildelay,customised,disabled,timestarted,hostname,pid
0,1,moodle,\core\task\session_cleanup_task,1769769481,1769769540,0,*,*,*,*,*,0,0,0,NaN,None,NaN
1,2,moodle,\core\task\delete_unconfirmed_users_task,1769767202,1769770800,0,0,*,*,*,*,0,0,0,NaN,None,NaN
2,3,moodle,\core\task\delete_incomplete_users_task,1769767501,1769771100,0,5,*,*,*,*,0,0,0,NaN,None,NaN
3,4,moodle,\core\task\backup_cleanup_task,1769767802,1769771400,0,10,*,*,*,*,0,0,0,NaN,None,NaN
4,5,moodle,\core\task\tag_cron_task,1769763422,1769849820,0,57,3,*,*,*,0,0,0,NaN,None,NaN

Successfully extracted data for table: mdl_task_scheduled


---> Displaying data for table: mdl_tiny_autosave ---

---> Database Connection Established
Feteched data shape -> rows: 188 columns: 9
---> Database connection closed

,id,elementid,contextid,pagehash,userid,drafttext,draftid,pageinstance,timemodified
0,62,id_summary_editor,18,5411ffbd31bdf10f56214c7af279227919ec0e0c,2,,861382843.0,09cfa68a6dd6db3e1d9c6b73bb3cfb96,1693453089
1,65,id_description,1,e7f40fea1e4a56871e37aead82951640918c1604,2,<p>We should be able to filter by Course and b...,NaN,0b02eeb09254092a8f40153477c9a571,1693458183
2,79,id_summary_editor,14,804d871c11c4ce9329827a34da5bba78b011885f,2,,NaN,c42d3670f5be8735c106c38e054a81fc,1693459044
3,82,id_description_2HC3gbCt0UgnvMo,1,b6ce947bd7c7a72c0c39770f4e5dba51b7aaa40a,2,,NaN,1838255b5c5e2bda708760981be2a559,1693459766
4,83,id_description_llsmbs1LFEBCJ9U,1,b6ce947bd7c7a72c0c39770f4e5dba51b7aaa40a,2,,NaN,3258b21ea9eafdb54aefefd614d3fdc2,1693459793

Successfully extracted data for table: mdl_tiny_autosave


---> Displaying data for table: mdl_tool_brickfield_checks ---

---> Database Connection Established
Feteched data shape -> rows: 31 columns: 6
---> Database connection closed

   id checktype                     shortname  checkgroup  status  severity
0   1      full  a_links_dont_open_new_window           4       1         1
1   2      full           a_must_contain_text           4       1         1
2   3      full     area_dont_open_new_window           4       1         1
3   4      full            area_has_alt_value           4       1         1
4   5      full        a_suspicious_link_text           4       1         1

Successfully extracted data for table: mdl_tool_brickfield_checks


---> Displaying data for table: mdl_tool_customlang ---

---> Database Connection Established
Feteched data shape -> rows: 272984 columns: 11
---> Database connection closed

,id,lang,componentid,stringid,original,master,local,timemodified,timecustomized,outdated,modified
0,1,fa,1,abouttobeinstalled,about to be installed,در آستانهٔ نصب,None,1695949805,NaN,0,0
1,2,fa,1,accept,Accept,پذیرش,None,1695949805,NaN,0,0
2,3,fa,1,action,Action,اقدام,None,1695949805,NaN,0,0
3,4,fa,1,actionchoice,What do you want to do with the file '{$a}'?,چه اقدامی در ارتباط با فایل'{$a}'صورت پذیرد؟,None,1695949805,NaN,0,0
4,5,fa,1,actions,Actions,اقدامات,None,1695949805,NaN,0,0

Successfully extracted data for table: mdl_tool_customlang


---> Displaying data for table: mdl_tool_customlang_components ---

---> Database Connection Established
Feteched data shape -> rows: 544 columns: 3
---> Database connection closed

   id               name     version
0   1               core  2023042402
1   2        core_access  2023042402
2   3         core_admin  2023042402
3   4  core_adminpresets  2023042402
4   5     core_analytics  2023042402

Successfully extracted data for table: mdl_tool_customlang_components


---> Displaying data for table: mdl_tool_dataprivacy_request ---

---> Database Connection Established
Feteched data shape -> rows: 852 columns: 15
---> Database connection closed

,id,type,comments,commentsformat,userid,requestedby,status,dpo,dpocomment,dpocommentformat,systemapproved,usermodified,timecreated,timemodified,creationmethod
0,1,2,Automatically created upon user deletion.,2,4,2,2,0,,2,0,2,1694422987,1694422987,1
1,2,2,Automatically created upon user deletion.,2,20,2,2,0,,2,0,2,1697702403,1697702403,1
2,3,2,Automatically created upon user deletion.,2,21,2,2,0,,2,0,2,1698037204,1698037204,1
3,4,2,Automatically created upon user deletion.,2,24,10,2,0,,2,0,10,1698939636,1698939636,1
4,5,2,Automatically created upon user deletion.,2,25,10,2,0,,2,0,10,1698939648,1698939648,1

Successfully extracted data for table: mdl_tool_dataprivacy_request


---> Displaying data for table: mdl_tool_mfa ---

---> Database Connection Established
Feteched data shape -> rows: 3224 columns: 11
---> Database connection closed

,id,userid,factor,secret,label,timecreated,createdfromip,timemodified,lastverified,revoked,lockcounter
0,1,2,admin,None,None,1699410962,172.71.219.95,1.699411e+09,NaN,0,0
1,2,2,auth,None,None,1699410962,172.71.219.95,1.699411e+09,1.699411e+09,0,0
2,3,2,email,None,mark@tyne-solutions.com,1699410962,172.71.219.95,NaN,1.702959e+09,0,0
3,5,3,admin,None,None,1699411004,172.71.219.95,1.699411e+09,NaN,0,0
4,6,3,auth,None,None,1699411004,172.71.219.95,1.699411e+09,NaN,0,0

Successfully extracted data for table: mdl_tool_mfa


---> Displaying data for table: mdl_tool_mfa_auth ---

---> Database Connection Established
Feteched data shape -> rows: 1608 columns: 3
---> Database connection closed

   id  userid  lastverified
0   1       2    1702958863
1   2       3    1709879072
2   3      34    1703148218
3   4      35    1699412105
4   5      28    1700071114

Successfully extracted data for table: mdl_tool_mfa_auth


---> Displaying data for table: mdl_tool_usertours_steps ---

---> Database Connection Established
Feteched data shape -> rows: 6 columns: 9
---> Database connection closed

,id,tourid,title,content,contentformat,targettype,targetvalue,sortorder,configdata
0,1,1,"tour_navigation_course_index_student_title,too...","tour_navigation_course_index_student_content,t...",1,0,#theme_boost-drawers-courseindex .drawercontent,0,{}
1,2,2,"tour_navigation_course_edit_teacher_title,tool...","tour_navigation_course_edit_teacher_content,to...",1,0,form.editmode-switch-form,0,{}
2,3,2,"tour_navigation_course_index_teacher_title,too...","tour_navigation_course_index_teacher_content,t...",1,0,#theme_boost-drawers-courseindex .drawercontent,1,"{""placement"":""right""}"
3,4,2,tour_navigation_course_announcements_teacher_t...,tour_navigation_course_announcements_teacher_c...,1,0,.course-content .course-content-item-content ....,2,"{""placement"":""left""}"
4,5,3,"tour_navigation_mycourses_title,tool_usertours","tour_navigation_mycourses_content,tool_usertours",1,0,.header-actions-container .btn-group.course-ma...,0,{}

Successfully extracted data for table: mdl_tool_usertours_steps


---> Displaying data for table: mdl_tool_usertours_tours ---

---> Database Connection Established
Feteched data shape -> rows: 4 columns: 9
---> Database connection closed

,id,name,description,pathmatch,enabled,sortorder,endtourlabel,configdata,displaystepnumbers
0,1,"tour_navigation_course_student_tour_name,tool_...","tour_navigation_course_student_tour_des,tool_u...",/course/view.php%,1,3,,"{""placement"":""right"",""orphan"":""0"",""backdrop"":""...",1
1,2,"tour_navigation_course_teacher_tour_name,tool_...","tour_navigation_course_teacher_tour_des,tool_u...",/course/view.php%,1,2,,"{""placement"":""bottom"",""orphan"":""0"",""backdrop"":...",1
2,3,"tour_navigation_mycourses_tour_name,tool_usert...","tour_navigation_mycourses_tour_des,tool_usertours",/my/courses.php,1,1,"tour_navigation_mycourses_endtourlabel,tool_us...","{""placement"":""bottom"",""orphan"":""0"",""backdrop"":...",1
3,4,"tour_navigation_dashboard_tour_name,tool_usert...","tour_navigation_dashboard_tour_des,tool_usertours",FRONTPAGE_MY,1,0,,"{""placement"":""left"",""orphan"":""0"",""backdrop"":""1...",1

Successfully extracted data for table: mdl_tool_usertours_tours


---> Displaying data for table: mdl_upgrade_log ---

---> Database Connection Established
Feteched data shape -> rows: 1470 columns: 10
---> Database connection closed

,id,type,plugin,version,targetversion,info,details,backtrace,userid,timemodified
0,1,0,core,2023042402,2023042402,Upgrade savepoint reached,None,,0,1693378310
1,2,0,core,2023042402,2023042402,Core installed,None,,0,1693378334
2,3,0,antivirus_clamav,None,2023042400,Starting plugin installation,None,,0,1693378334
3,4,0,antivirus_clamav,2023042400,2023042400,Upgrade savepoint reached,None,,0,1693378334
4,5,0,antivirus_clamav,2023042400,2023042400,Plugin installed,None,,0,1693378334

Successfully extracted data for table: mdl_upgrade_log


---> Displaying data for table: mdl_url ---

---> Database Connection Established
Feteched data shape -> rows: 4 columns: 10
---> Database connection closed

,id,course,name,intro,introformat,externalurl,display,displayoptions,parameters,timemodified
0,2,12,Mentoring Opportunity,"<p dir=""ltr"" style=""text-align: center;""><stro...",1,https://ee.kobotoolbox.org/x/mhtSxJ1q,1,"a:1:{s:10:""printintro"";i:1;}","a:1:{s:8:""d[email]"";s:9:""useremail"";}",1710250925
1,3,15,تهانينا على اجتيازك لبرنامج تدريب العمال في ال...,شكرًا لك على إكمال دورتنا المجانية عبر الإنترن...,1,https://ee.kobotoolbox.org/x/mhtSxJ1q,1,"a:1:{s:10:""printintro"";i:1;}","a:1:{s:8:""d[email]"";s:9:""useremail"";}",1710251254
2,4,34,بابت تکمیل آموزش آنلاین کارمندان ساحوی تبریک م...,"<p dir=""rtl"" style=""text-align: right;"">از این...",1,https://ee.kobotoolbox.org/x/mhtSxJ1q,1,"a:1:{s:10:""printintro"";i:1;}","a:1:{s:8:""d[email]"";s:9:""useremail"";}",1710251655
3,5,18,پیرۆزە تەواوکردنی ڕاهێنانی ئۆنلاینی کارمەندانی...,سوپاس بۆ تەواوکردنی خولی سەرهێڵی تایبەت بە ڕێک...,1,https://ee.kobotoolbox.org/x/mhtSxJ1q,1,"a:1:{s:10:""printintro"";i:1;}","a:1:{s:8:""d[email]"";s:9:""useremail"";}",1710252099

Successfully extracted data for table: mdl_url


---> Displaying data for table: mdl_user ---

---> Database Connection Established
Feteched data shape -> rows: 2859 columns: 48
---> Database connection closed

,id,auth,confirmed,policyagreed,deleted,suspended,mnethostid,username,password,idnumber,...,trackforums,timecreated,timemodified,trustbitmask,imagealt,lastnamephonetic,firstnamephonetic,middlename,alternatename,moodlenetprofile
0,1,manual,1,0,0,0,1,guest,$2y$10$R/gF6onCbzVd6nIpG.7cXuWY0wDwu1a2.eErJTd...,,...,0,0,1693378302,0,None,None,None,None,None,None
1,2,manual,1,0,0,0,1,admin,$2y$10$hW9P5Y6lUFTiZ9yFug1/K.rCUtGX7ns8hV2CWWX...,,...,0,0,1695629142,0,,,,,,
2,3,manual,1,0,0,0,1,student,$2y$10$2YcVydLp7u023xxrKkFhEOd.RMa9kUyBe6I8bQr...,,...,0,1693459339,1707981535,0,,,,,,
3,4,manual,1,0,1,0,1,nabilmal3k@gmail.com.1694422986,$2y$10$aPXc3uibpuS.R9CANZkWiegCAwJ/NTNC29QfchA...,,...,0,1694417372,1694422986,0,,,,,,None
4,5,manual,1,0,1,0,1,nabilmal3k@gmail.com.1699409683,$2y$10$ujGvRGoDiDW92GYJtIRoG.lFvAva1OrTiq8vkwm...,,...,0,1694480774,1699409683,0,,,,,,None

Successfully extracted data for table: mdl_user


---> Displaying data for table: mdl_user_enrolments ---

---> Database Connection Established
Feteched data shape -> rows: 1472 columns: 9
---> Database connection closed

,id,status,enrolid,userid,timestart,timeend,modifierid,timecreated,timemodified
0,11,0,19,10,0,0,10,1696315526,1696315526
1,13,0,25,11,0,0,11,1696505349,1696505349
2,14,0,19,11,1696506599,0,10,1696506608,1696506608
3,19,0,19,23,1697983199,0,10,1697983276,1697983276
4,20,0,36,11,0,0,11,1698104728,1698104728

Successfully extracted data for table: mdl_user_enrolments


---> Displaying data for table: mdl_user_info_category ---

---> Database Connection Established
Feteched data shape -> rows: 1 columns: 3
---> Database connection closed

   id                                               name  sortorder
0   2  <span lang="en" class="multilang">Sign-Up Ques...          1

Successfully extracted data for table: mdl_user_info_category


---> Displaying data for table: mdl_user_info_data ---

---> Database Connection Established
Feteched data shape -> rows: 7452 columns: 5
---> Database connection closed

   id  userid  fieldid         data  dataformat
0  11       2        3        Other           0
1  12       2        4  Bangladeshi           0
2  13       2        5  35 or above           0
3  14       2        6        Other           0
4  37       3        3        Other           0

Successfully extracted data for table: mdl_user_info_data


---> Displaying data for table: mdl_user_info_field ---

---> Database Connection Established
Feteched data shape -> rows: 5 columns: 20
---> Database connection closed

,id,shortname,name,datatype,description,descriptionformat,categoryid,sortorder,required,locked,visible,forceunique,signup,defaultdata,defaultdataformat,param1,param2,param3,param4,param5
0,3,current_country,"<span lang=""en"" class=""multilang"">Which countr...",menu,,1,2,1,1,0,2,0,1,,0,"<span lang=""en"" class=""multilang"">Germany</spa...",None,None,None,None
1,4,nationality,"<span lang=""en"" class=""multilang"">What is your...",menu,,1,2,2,1,0,2,0,1,,0,"<span lang=""en"" class=""multilang"">Afghan</span...",None,None,None,None
2,5,age,"<span lang=""en"" class=""multilang"">What is your...",menu,,1,2,3,1,0,2,0,1,,0,"<span lang=""en"" class=""multilang"">Under 18</sp...",None,None,None,None
3,6,gender,"<span lang=""en"" class=""multilang"">What is your...",menu,,1,2,4,1,0,2,0,1,,0,"<span lang=""en"" class=""multilang"">Male</span><...",None,None,None,None
4,16,source,"<span lang=""en"" class=""multilang"">Where did yo...",menu,,1,2,5,0,0,2,0,1,,0,"<span lang=""en"" class=""multilang"">Social media...",None,None,None,None

Successfully extracted data for table: mdl_user_info_field


---> Displaying data for table: mdl_user_lastaccess ---

---> Database Connection Established
Feteched data shape -> rows: 1641 columns: 4
---> Database connection closed

   id  userid  courseid  timeaccess
0  11      10        10  1757689754
1  13       2        10  1699345523
2  15      11        12  1700835993
3  16      11        10  1699968662
4  23      23        10  1698239667

Successfully extracted data for table: mdl_user_lastaccess


---> Displaying data for table: mdl_user_preferences ---

---> Database Connection Established
Feteched data shape -> rows: 5705 columns: 4
---> Database connection closed

   id  userid                                   name       value
0   1       2              core_message_migrate_data           1
1   2       2                      core_user_welcome  1693378494
2   3       2       login_failed_count_since_success         487
3   4       2  tool_usertours_tour_completion_time_4  1693379061
4   5       2                      drawer-open-index           0

Successfully extracted data for table: mdl_user_preferences


---> Displaying data for table: mdl_user_private_key ---

---> Database Connection Established
Feteched data shape -> rows: 1041 columns: 8
---> Database connection closed

,id,script,value,userid,instance,iprestriction,validuntil,timecreated
0,1,core_files,a90b0cd896ec5de051901b2ee571f986,2,None,None,None,1693453982
1,2,core_files,6c012dbbc7b2915cee79a5ab890fc678,11,None,None,None,1696599482
2,5,core_files,5ac86c5e32616385e81825170f236714,17,None,None,None,1698780753
3,6,core_files,281a830c707db7e732611d50943dfe44,33,None,None,None,1699302990
4,7,core_files,5215b7c8ab2bd4a0fb829a4937d120c1,36,None,None,None,1699426959

Successfully extracted data for table: mdl_user_private_key

## Explanation:

Now we have successfully loaded and displayed tables, but we have some issue with some of the tables, they do not contain the data we need for the core task and that are user eccentric. Most of these data are system config, log, and meta data. We do not want to include this, so I would take it step by step to remove all the meta data and curate a list of these data we do not want.

In [ ]:
# List of tables identified for removal (metadata, event logs, configuration, or not directly user-centric for knowledge increase)
tables_to_remove = [
    'mdl_adminpresets',
    'mdl_adminpresets_it',
    'mdl_adminpresets_plug',
    'mdl_analytics_indicator_calc',
    'mdl_analytics_models',
    'mdl_analytics_used_analysables',
    'mdl_auth_oauth2_linked_login',
    'mdl_backup_controllers',
    'mdl_block',
    'mdl_block_configurable_reports',
    'mdl_block_instances',
    'mdl_block_positions',
    'mdl_block_recentlyaccesseditems',
    'mdl_capabilities',
    'mdl_config',
    'mdl_config_log',
    'mdl_config_plugins',
    'mdl_context',
    'mdl_event',
    'mdl_external_functions',
    'mdl_external_services',
    'mdl_external_services_functions',
    'mdl_external_tokens',
    'mdl_favourite',
    'mdl_files',
    'mdl_files_reference',
    'mdl_filter_active',
    'mdl_glossary_formats',
    'mdl_grading_areas',
    'mdl_h5p_contents_libraries',
    'mdl_h5p_libraries',
    'mdl_h5p_libraries_cachedassets',
    'mdl_h5p_library_dependencies',
    'mdl_license',
    'mdl_local_profilecohort',
    'mdl_log_display',
    'mdl_logstore_standard_log',
    'mdl_message_contact_requests',
    'mdl_message_conversation_members',
    'mdl_message_conversations',
    'mdl_message_popup_notifications',
    'mdl_message_processors',
    'mdl_message_providers',
    'mdl_message_user_actions',
    'mdl_messageinbound_handlers',
    'mdl_messages',
    'mdl_mnet_application',
    'mdl_mnet_host',
    'mdl_mnet_remote_rpc',
    'mdl_mnet_remote_service2rpc',
    'mdl_mnet_rpc',
    'mdl_mnet_service',
    'mdl_mnet_service2rpc',
    'mdl_modules',
    'mdl_my_pages',
    'mdl_notifications',
    'mdl_oauth2_endpoint',
    'mdl_oauth2_issuer',
    'mdl_oauth2_user_field_mapping',
    'mdl_quiz_reports',
    'mdl_report_customsql_categories',
    'mdl_report_customsql_queries',
    'mdl_reportbuilder_column',
    'mdl_reportbuilder_filter',
    'mdl_reportbuilder_report',
    'mdl_repository',
    'mdl_repository_instances',
    'mdl_role',
    'mdl_role_allow_assign',
    'mdl_role_allow_override',
    'mdl_role_allow_switch',
    'mdl_role_allow_view',
    'mdl_role_assignments',
    'mdl_role_capabilities',
    'mdl_role_context_levels',
    'mdl_scale',
    'mdl_search_simpledb_index',
    'mdl_sessions',
    'mdl_stats_daily',
    'mdl_stats_monthly',
    'mdl_stats_user_daily',
    'mdl_stats_user_monthly',
    'mdl_stats_user_weekly',
    'mdl_stats_weekly',
    'mdl_tag',
    'mdl_tag_area',
    'mdl_tag_instance',
    'mdl_task_log',
    'mdl_task_scheduled',
    'mdl_tiny_autosave',
    'mdl_tool_brickfield_checks',
    'mdl_tool_customlang',
    'mdl_tool_customlang_components',
    'mdl_tool_dataprivacy_request',
    'mdl_tool_mfa',
    'mdl_tool_mfa_auth',
    'mdl_tool_usertours_steps',
    'mdl_tool_usertours_tours',
    'mdl_upgrade_log',
    'mdl_user_info_category',
    'mdl_user_lastaccess',
    'mdl_user_preferences',
    'mdl_user_private_key'
]

must_keep_tables = [
    "mdl_user",
    "mdl_user_info_field",
    "mdl_user_info_data",
    "mdl_course",
    "mdl_course_categories",
    "mdl_enrol",
    "mdl_user_enrolments",
    "mdl_cohort_members",
    "mdl_logstore_standard_log",
    "mdl_course_completions",
    "mdl_quiz",
    "mdl_quiz_attempts",
    "mdl_quiz_grades",
    "mdl_feedback",
    "mdl_feedback_completed",
    "mdl_feedback_item",
    "mdl_feedback_value",
    "mdl_role",
    "mdl_role_assignments",
    "mdl_context",
]

# updated tables to remove:
tables_to_remove = [table for table in tables_to_remove if table not in must_keep_tables]

In [ ]:
from typing import Dict, List
import pandas as pd

def filter_out_non_user_tables(dataframes_dict: Dict[str, pd.DataFrame], tables_to_remove: List[str]) -> Dict[str, pd.DataFrame]:
    """
    Filters a dictionary of DataFrames, removing non user specified tables.

    Args:
        dataframes_dict (Dict[str, pd.DataFrame]): A dictionary where keys are table names
                                                 and values are pandas DataFrames.
        tables_to_remove (List[str]): A list of table names to be removed.

    Returns:
        Dict[str, pd.DataFrame]: A new dictionary containing only the DataFrames
                                 whose table names are not in tables_to_remove.
    """
    filtered_dict = {name: df for name, df in dataframes_dict.items() if name not in tables_to_remove}
    return filtered_dict

# Apply the filtering function
active_tables_filtered = filter_out_non_user_tables(active_tables, tables_to_remove)

print(f"Original number of active tables: {len(active_tables)}")
print(f"Number of tables after filtering: {len(active_tables_filtered)}")
print("Remaining tables:")
for table_name in active_tables_filtered.keys():
    print(f"- {table_name}")

Original number of active tables: 206
Number of tables after filtering: 103
Remaining tables:
- mdl_analytics_predict_samples
- mdl_analytics_prediction_actions
- mdl_analytics_predictions
- mdl_assign
- mdl_assign_grades
- mdl_assign_plugin_config
- mdl_assign_submission
- mdl_assign_user_mapping
- mdl_assignfeedback_editpdf_rot
- mdl_assignsubmission_file
- mdl_assignsubmission_onlinetext
- mdl_book
- mdl_book_chapters
- mdl_choice
- mdl_choice_answers
- mdl_choice_options
- mdl_cohort_members
- mdl_contentbank_content
- mdl_course
- mdl_course_categories
- mdl_course_completion_aggr_methd
- mdl_course_completion_crit_compl
- mdl_course_completion_criteria
- mdl_course_completions
- mdl_course_format_options
- mdl_course_modules
- mdl_course_modules_completion
- mdl_course_modules_viewed
- mdl_course_sections
- mdl_customcert
- mdl_customcert_elements
- mdl_customcert_issues
- mdl_customcert_pages
- mdl_customcert_templates
- mdl_enrol
- mdl_feedback
- mdl_feedback_completed
- mdl_feedback_item
- mdl_feedback_value
- mdl_flashcard
- mdl_flashcard_card
- mdl_flashcard_deckdata
- mdl_forum
- mdl_grade_categories
- mdl_grade_categories_history
- mdl_grade_grades
- mdl_grade_grades_history
- mdl_grade_items
- mdl_grade_items_history
- mdl_grade_settings
- mdl_h5p
- mdl_label
- mdl_page
- mdl_qtype_ddmatch_options
- mdl_qtype_ddmatch_subquestions
- mdl_qtype_match_options
- mdl_qtype_match_subquestions
- mdl_qtype_multichoice_options
- mdl_question
- mdl_question_answers
- mdl_question_attempt_step_data
- mdl_question_attempt_steps
- mdl_question_attempts
- mdl_question_bank_entries
- mdl_question_categories
- mdl_question_ddwtos
- mdl_question_gapfill
- mdl_question_gapfill_settings
- mdl_question_gapselect
- mdl_question_hints
- mdl_question_references
- mdl_question_response_analysis
- mdl_question_response_count
- mdl_question_statistics
- mdl_question_truefalse
- mdl_question_usages
- mdl_question_versions
- mdl_questionnaire
- mdl_questionnaire_dependency
- mdl_questionnaire_quest_choice
- mdl_questionnaire_question
- mdl_questionnaire_question_type
- mdl_questionnaire_resp_multiple
- mdl_questionnaire_resp_single
- mdl_questionnaire_response
- mdl_questionnaire_response_bool
- mdl_questionnaire_response_rank
- mdl_questionnaire_response_text
- mdl_questionnaire_survey
- mdl_quiz
- mdl_quiz_attempts
- mdl_quiz_feedback
- mdl_quiz_grades
- mdl_quiz_sections
- mdl_quiz_slots
- mdl_quiz_statistics
- mdl_survey
- mdl_survey_questions
- mdl_url
- mdl_user
- mdl_user_enrolments
- mdl_user_info_data
- mdl_user_info_field

## Explanation:
We have now filtered the `active_tables` dictionary, removing tables that were identified as metadata, system configurations, generic logs, or other tables not directly contributing to measuring user knowledge increase.

The `active_tables_filtered` dictionary now contains a more focused set of tables that are likely to hold relevant user data for our analysis goals.

Now that we have selected user related tables we noticed these are not user-eccentric tables, we need to get the tables that are directly related to the users so we can map the users table and merge their data into one dataframe for storage in google sheet. This is important so we can have a focused data and less columns. We would only select tables with `userid` column, these are tables directly relating to the users and have the users information on them.

In [ ]:
def select_user_related_tables(dataframes_dict: Dict[str, pd.DataFrame]) -> Dict[str, pd.DataFrame]:
  """
  Selects tables related to users from a dictionary of DataFrames.

  Args:
      dataframes_dict (Dict[str, pd.DataFrame]): A dictionary where keys are table names
                                                 and values are pandas DataFrames.

  Returns:
      Dict[str, pd.DataFrame]: A new dictionary containing only.
  """
  users_related_tables = {name: df for name, df in dataframes_dict.items() if (df is not None
                                                                      and not df.empty
                                                                      and "userid" in df.columns)
                                                                       or name == "mdl_user"}
  return users_related_tables


users_related_tables = select_user_related_tables(active_tables_filtered)

print(f"Number of tables related to users: {len(users_related_tables)} out of {len(active_tables_filtered)}")
print("Tables related to users:")
for table_name in users_related_tables.keys():
    print(f"- {table_name}")

Number of tables related to users: 22 out of 103
Tables related to users:
- mdl_analytics_prediction_actions
- mdl_assign_grades
- mdl_assign_submission
- mdl_assign_user_mapping
- mdl_choice_answers
- mdl_cohort_members
- mdl_course_completion_crit_compl
- mdl_course_completions
- mdl_course_modules_completion
- mdl_course_modules_viewed
- mdl_customcert_issues
- mdl_feedback_completed
- mdl_flashcard_card
- mdl_grade_grades
- mdl_grade_grades_history
- mdl_question_attempt_steps
- mdl_questionnaire_response
- mdl_quiz_attempts
- mdl_quiz_grades
- mdl_user
- mdl_user_enrolments
- mdl_user_info_data

In [ ]:
user_related_df = users_related_tables.copy()
display(len(user_related_df))

# drop 'mdl_users` from dict
del user_related_df['mdl_user']
display(len(user_related_df))

22

21

In [ ]:
from google.colab import auth
auth.authenticate_user()
print("Google Colab user authenticated.")

Google Colab user authenticated.

In [ ]:
import gspread
from gspread_dataframe import set_with_dataframe
from google.auth import default

# Authorize gspread to interact with Google Sheets using the authenticated user's credentials
creds, _ = default()
gc = gspread.Client(creds)
print("gspread client authorized using OAuth.")

gspread client authorized using OAuth.

In [ ]:
spreadsheet_name = 'Pathways Moodle Selected Database Tables'
spreadsheet = gc.create(spreadsheet_name)
print(f"Google Spreadsheet '{spreadsheet_name}' created successfully.")
print(f"Spreadsheet URL: {spreadsheet.url}")

Google Spreadsheet 'Pathways Moodle Selected Database Tables' created successfully.
Spreadsheet URL: https://docs.google.com/spreadsheets/d/1LIUTgVc31uC9xgMpfPM7heVSxk6IhIEN2o0z40ceGsQ

In [ ]:
import time
import gspread
from gspread_dataframe import set_with_dataframe

MAX_RETRIES = 2
SLEEP_SECONDS = 1
WORKSHEET_NAME_LIMIT = 99


def make_worksheet_name(table_name: str) -> str:
    """
    Create a worksheet-safe name from a table name.

    Usage:
        worksheet_name = make_worksheet_name("mdl_analytics_logs")
    """
    return table_name.replace("mdl_", "")[:WORKSHEET_NAME_LIMIT]

In [ ]:
def compute_sheet_dimensions(df):
    """
    Compute safe worksheet dimensions for a DataFrame.

    Usage:
        rows, cols = compute_sheet_dimensions(df)
    """
    rows = max(df.shape[0] + 1, 2)  # +1 for header
    cols = max(df.shape[1], 1)
    return rows, cols

In [ ]:
def recreate_worksheet(spreadsheet, title: str, rows: int, cols: int):
    """
    Create a worksheet, deleting any existing one with the same name.

    Usage:
        ws = recreate_worksheet(spreadsheet, "analytics_logs", 10, 5)
    """
    try:
        return spreadsheet.add_worksheet(title=title, rows=rows, cols=cols)
    except gspread.exceptions.APIError as e:
        if "already exists" in str(e):
            ws = spreadsheet.worksheet(title)
            spreadsheet.del_worksheet(ws)
            return spreadsheet.add_worksheet(title=title, rows=rows, cols=cols)
        raise

In [ ]:
def write_dataframe_to_sheet(spreadsheet, table_name: str, df):
    """
    Write a non-empty DataFrame to a Google Sheet worksheet.

    Usage:
        write_dataframe_to_sheet(spreadsheet, "mdl_users", users_df)
    """
    worksheet_name = make_worksheet_name(table_name)
    rows, cols = compute_sheet_dimensions(df)

    worksheet = recreate_worksheet(
        spreadsheet,
        title=worksheet_name,
        rows=rows,
        cols=cols,
    )

    set_with_dataframe(worksheet, df)
    time.sleep(SLEEP_SECONDS)

In [ ]:
def with_retries(fn, retries: int = MAX_RETRIES):
    """
    Execute a function with retry support.

    Usage:
        with_retries(lambda: write_dataframe_to_sheet(...))
    """
    for attempt in range(retries):
        try:
            return fn()
        except Exception as e:
            if attempt == retries - 1:
                raise
            print(f"Retrying after error: {e}")

In [ ]:
def process_tables(spreadsheet, tables: dict) -> dict:
    """
    Process multiple DataFrames and write non-empty ones to GSheets.

    Usage:
        saved_dfs = process_tables(spreadsheet, user_related_tables)
    """
    saved_dfs = {}

    for name, df in tables.items():
        print(f"Processing table: {name}")

        if df.empty:
            print(f"Table '{name}' is empty and will be skipped.")
            continue

        # infer data types
        df = df.convert_dtypes()

        try:
            with_retries(
                lambda: write_dataframe_to_sheet(spreadsheet, name, df)
            )
            saved_dfs[name] = df
            print(f"Successfully wrote '{name}'")
        except Exception as e:
            print(f"Failed processing table '{name}': {e}")

    return saved_dfs

In [ ]:
saved_dfs = process_tables(
    spreadsheet=spreadsheet,
    tables=user_related_df ,
)

print(
    f"All non-empty tables processed and saved to '{spreadsheet_name}'."
)
print(f"Spreadsheet URL: {spreadsheet.url}")

Processing table: mdl_analytics_prediction_actions
Successfully wrote 'mdl_analytics_prediction_actions'
Processing table: mdl_assign_grades
Successfully wrote 'mdl_assign_grades'
Processing table: mdl_assign_submission
Successfully wrote 'mdl_assign_submission'
Processing table: mdl_assign_user_mapping
Successfully wrote 'mdl_assign_user_mapping'
Processing table: mdl_choice_answers
Successfully wrote 'mdl_choice_answers'
Processing table: mdl_cohort_members
Successfully wrote 'mdl_cohort_members'
Processing table: mdl_course_completion_crit_compl
Successfully wrote 'mdl_course_completion_crit_compl'
Processing table: mdl_course_completions
Successfully wrote 'mdl_course_completions'
Processing table: mdl_course_modules_completion
Successfully wrote 'mdl_course_modules_completion'
Processing table: mdl_course_modules_viewed
Successfully wrote 'mdl_course_modules_viewed'
Processing table: mdl_customcert_issues
Successfully wrote 'mdl_customcert_issues'
Processing table: mdl_feedback_completed
Successfully wrote 'mdl_feedback_completed'
Processing table: mdl_flashcard_card
Successfully wrote 'mdl_flashcard_card'
Processing table: mdl_grade_grades
Successfully wrote 'mdl_grade_grades'
Processing table: mdl_grade_grades_history
Successfully wrote 'mdl_grade_grades_history'
Processing table: mdl_question_attempt_steps
Successfully wrote 'mdl_question_attempt_steps'
Processing table: mdl_questionnaire_response
Successfully wrote 'mdl_questionnaire_response'
Processing table: mdl_quiz_attempts
Successfully wrote 'mdl_quiz_attempts'
Processing table: mdl_quiz_grades
Successfully wrote 'mdl_quiz_grades'
Processing table: mdl_user_enrolments
Successfully wrote 'mdl_user_enrolments'
Processing table: mdl_user_info_data
Successfully wrote 'mdl_user_info_data'
All non-empty tables processed and saved to 'Pathways Moodle Selected Database Tables'.
Spreadsheet URL: https://docs.google.com/spreadsheets/d/1LIUTgVc31uC9xgMpfPM7heVSxk6IhIEN2o0z40ceGsQ